[2012-11-10 20:02] Neamar opened #2 "Afficher une seule ligne par contact"
Les contacts avec plusieurs numéros de téléphone sont à afficher en une seule fois

[2012-11-10 20:03] Neamar opened #3 "Google Search désactivé"
Si l'utilisateur a désactivé Google Search, une erreur se produit. `try catch` à la rescousse !

[2012-11-10 20:04] Neamar opened #4 "Afficher automatiquement le clavier quand on va envoyer un SMS"
Lors du clic sur l'icone message, afficher directement le clavier.

Actuellement, il disparaît alors qu'il serait utile ;)

[2012-11-10 20:05] Neamar opened #5 "Nouvelle icone Summon"
L'ancienne est vraiment trop moche :dancer:

[2012-11-10 20:05] Neamar opened #6 "Action Bar"
Utiliser une ActionBar pour afficher des éléments de menu

[2012-11-10 20:05] Neamar opened #7 "Ne pas stocker en dur les context"
Vérifier que les context ne sont pas stockés en attributs de classe

[2012-11-10 20:06] Neamar opened #8 "Afficher un texte tutorial au premier lancement"
Utiliser la propriété `@id/empty`.

[2012-11-10 20:07] Neamar opened #9 "Refactoriser les packages"
En particulier sur la branche `lite`.

[2012-11-10 20:08] Neamar opened #10 "Rendre la recherche case insensitive"
Actuellement, la recherche avec une majuscule ne trouve rien.

[2012-11-10 20:09] Neamar opened #11 "Gérer l'action slide sur un toggle"
Toggle : slide ne déclenche rien.

[2012-11-10 20:09] Neamar opened #12 "Empêcher les rageclick sur les toggles"
Éviter qu'on puisse cliquer plusieurs fois de suite sur les toggles

[2012-11-10 20:10] Neamar opened #13 "Frécence"
Dans les settings, donner la possibilité de trier par fréquence / récent.

[2012-11-10 20:10] Neamar opened #14 "Choix des providers"
Permettre de désactiver certains providers (contacts, app, toggles, etc)

[2012-11-10 20:11] Neamar opened #15 "Modifier l'AsyncTask UpdateRecord"
Si changement de texte, `cancel()` la tâche en cours.

[2012-11-10 20:11] Neamar opened #16 "Minimiser les require-feature"
RequireFeature : pas besoin du bluetooth / telephony / wifi.

[2012-11-10 20:14] Neamar opened #17 "SmartProviders"
Smart actions:
- Call someone
- Evaluate mathematics expression

[2012-11-10 20:24] #3 closed, assigned to Neamar

[2012-11-10 20:31] #7 closed, assigned to Neamar

[2012-11-10 20:36] Neamar opened #18 "Localize strings"

[2012-11-10 20:39] #5 closed, assigned to Dorvaryn

[2012-11-10 20:41] #9 closed, assigned to Neamar

[2012-11-10 20:49] #10 closed, assigned to Dorvaryn

[2012-11-10 20:49] #15 closed, assigned to Dorvaryn

[2012-11-10 22:29] #6 closed, assigned to Dorvaryn

[2012-11-10 22:31] Dorvaryn opened #19 "Hide Action Bar"
Add a preference to disabel Action Bar on Landscape mode for small screens

[2012-11-10 22:44] #19 closed, assigned to Dorvaryn

[2012-11-10 23:02] #8 closed, assigned to Neamar

[2012-11-10 23:35] #16 closed, assigned to Dorvaryn

[2012-11-11 00:01] #11 closed, assigned to Dorvaryn

[2012-11-11 00:01] #12 closed, assigned to Dorvaryn

[2012-11-11 00:29] #4 closed, assigned to nobody

[2012-11-11 00:33] #14 closed, assigned to Dorvaryn

[2012-11-11 01:02] Dorvaryn opened #20 "Settings Icon"
Create a new settings icon for API under 11

[2012-11-11 01:13] Neamar opened #21 "Preference: display all phone number"
Display all phone number for a contact, even if a default is specified.

[2012-11-11 01:16] Neamar opened #22 "Preference: remove all history"

[2012-11-11 01:17] Neamar opened #23 "Long click on item to remove from history"

[2012-11-11 01:24] Neamar opened #24 "Replace default Google Search on home with Summon Widget"

[2012-11-11 01:33] Dorvaryn opened #25 "Hide Compatibility mode when under API 11"

[2012-11-11 22:25] Dorvaryn opened #26 "Preference icon in overflow only"

[2012-11-13 10:46] OniOni opened #27 "Searching for battery shows no results"
When searching for battery, nothing comes up.

[2012-11-14 06:58] Dorvaryn opened #28 "Search in music"
Provide search through music library and launch music player

[2012-11-14 15:10] Neamar opened #29 "Widget in lockscreen"
Leverage android v4.2 : http://developer.android.com/guide/topics/appwidgets/index.html#lockscreen

[2012-11-15 13:03] Dorvaryn opened #30 "Contact info launches before the rest"
When launching the app the contact history launches before the rest of the history. This leads to a two times refresh of the screen which is disturbing.

[2012-11-16 06:47] Dorvaryn opened #31 "Contacts are the only displayed history"
Maybe related to #30

Sometimes at launch you can see only contacts history. You have to type a letter then erase it to make other items appear in history.

[2012-11-17 19:28] Neamar opened #32 "Hide "x" (clean) menu when filter is empty"

[2012-11-20 11:59] padenot opened #33 "Add toggles for data and plane mode"
We should have toggles to switch between 3g and GPRS, to enable and disable data, and to enter and leave plane mode.

[2012-12-30 16:34] Neamar opened #34 "Display least used applications"
Display applications not used since... a month?
To ease removal and phone cleanup.

[2013-01-14 20:33] Neamar opened #35 "Display spinner in textbox while loading providers"
Remove spinner when last providers yeld informations.

[2013-01-14 20:36] Neamar opened #36 "Reload datas when a providers yeld informations"
Perhaps this providers contains useful informations for current query; so reload.

[2013-01-14 20:38] Neamar opened #37 "Switch theme"
Give opportunity to switch theme (holo light!)

[2013-01-14 20:38] Neamar opened #38 "Bug when displaying menu without action bar on landscape mode"
Menu is not showing.

[2013-01-14 20:59] Neamar opened #39 "Warn user if query starts with a space"
Most probably unwanted behavior; hiding relevant results.

Or force-trim?

[2013-02-04 15:37] Neamar opened #40 "Define your own alias"
Add activity to create our own alias

[2013-02-12 10:01] Neamar opened #41 "Change id:empty when no results"

[2013-02-18 07:55] Neamar opened #42 "Setting for screen"
Add two new settings:

Landscape mode: Action bar / Notifications only / Fullscreen
Portrait mode: Action bar / Notifications only / Fullscreen.

Related to #38.

[2013-02-22 14:52] #37 closed, assigned to nobody

[2013-02-22 15:10] #25 closed, assigned to Dorvaryn

[2013-02-22 15:10] #26 closed, assigned to Dorvaryn

[2013-02-22 15:18] Dorvaryn opened #43 "Silent mode and data icons on dark are sloppy and could use a lifting."

[2013-02-22 15:22] #20 closed, assigned to nobody

[2013-02-22 16:13] Neamar opened #44 "Swiftkey displays suggestions"
Seems to be a bug from swiftkey, but require some kind of workaround

[2013-02-22 16:23] Neamar opened #45 "Use Backupmanager to save sqlite db"

[2013-02-22 17:12] Neamar opened #46 "Update Play Store screenshot"

[2013-02-22 17:13] Neamar opened #47 "Remove inverted_ui"

[2013-02-22 17:14] #30 closed, assigned to nobody

[2013-02-22 17:14] #38 closed, assigned to nobody

[2013-02-22 21:14] #31 closed, assigned to Dorvaryn

[2013-02-22 21:14] #35 closed, assigned to Dorvaryn

[2013-02-22 21:14] #36 closed, assigned to Dorvaryn

[2013-02-22 23:03] #45 closed, assigned to Dorvaryn

[2013-02-23 15:45] #2 closed, assigned to Neamar

[2013-02-23 15:45] #18 closed, assigned to nobody

[2013-02-23 15:45] #47 closed, assigned to Neamar

[2013-02-23 16:30] #32 closed, assigned to Neamar

[2013-02-23 16:31] #44 closed, assigned to nobody

[2013-02-23 20:37] #46 closed, assigned to Neamar

[2013-02-24 02:31] Dorvaryn opened #48 "Add a clear History setting"

[2013-02-24 14:50] #48 closed, assigned to Dorvaryn

[2013-02-24 20:33] #33 closed, assigned to Dorvaryn

[2013-02-24 21:33] #27 closed, assigned to Dorvaryn

[2013-02-24 22:37] #22 closed, assigned to Dorvaryn

[2013-02-24 23:56] #23 closed, assigned to nobody

[2013-02-24 23:56] #43 closed, assigned to nobody

[2013-02-25 01:34] Dorvaryn opened #49 "Replace preferences icon and rename settings to phone settings"

[2013-02-27 18:35] Neamar opened #50 "Dislay "x" on right of textbox"
http://www.gubed.net/clearableautocompletetextview/

[2013-03-24 10:49] Neamar opened #51 "Analytics crash"
Thi is kinda weird.

"crash on startup, Galaxy s3 with English locale."

[code]

[2013-03-25 11:26] #51 closed, assigned to Dorvaryn

[2013-03-25 11:30] Neamar opened #52 "Add "favorite" option menu"
Menu, when click, display five most used records.

[2013-03-27 13:19] Dorvaryn opened #53 "App search should return accented results just like the contact search"

[2013-04-09 15:13] #52 closed, assigned to Neamar

[2013-04-09 15:22] #53 closed, assigned to nobody

[2013-04-09 15:23] #42 closed, assigned to Neamar

[2013-04-09 15:24] #41 closed, assigned to Neamar

[2013-04-09 15:24] #29 closed, assigned to nobody

[2013-04-09 15:24] #13 closed, assigned to Neamar

[2013-04-09 15:35] #39 closed, assigned to Neamar

[2013-04-09 15:42] #40 closed, assigned to nobody

[2013-04-09 15:42] #24 closed, assigned to nobody

[2013-04-09 15:43] #21 closed, assigned to nobody

[2013-04-28 19:26] Dorvaryn opened #54 "Store records in DB to improve initial launch time"

[2013-04-30 14:00] lynxaegon opened #55 "Search through emails"
The Provider should also index the contents of the emails (to,cc,from,body)

[2013-05-17 13:19] Neamar opened #56 "Smarter ranking"
Use a LIKE operator for ranking.

When i write "d", find any query previously made with "d" and "d%".

[2013-05-19 09:33] Neamar opened #57 "Phone smart records on Summon"
If i write "+336", give an option to call directly.

[2013-05-20 23:37] #34 closed, assigned to nobody

[2013-05-20 23:39] #57 closed, assigned to nobody

[2013-05-20 23:45] Neamar opened #58 "AndroidProviders"
Search through the phone providers, depending on installed apps.

For instance, search through IMDB, Gmail, Calendar, etc.

I believe this can grow fairly complex, even using the architecture Android provides us (public providers).

Maybe it could be better to improve our current search providers, and add some actions (buttons on the right) :
- Search on the web, default action (using browser inte

[2013-05-20 23:45] #28 closed, assigned to nobody

[2013-05-20 23:45] #55 closed, assigned to nobody

[2013-05-20 23:46] #49 closed, assigned to nobody

[2013-05-21 12:07] Neamar opened #59 "Register history when clicking on favorites"

[2013-05-21 22:13] #56 closed, assigned to Neamar

[2013-05-21 22:17] #59 closed, assigned to Neamar

[2013-05-27 07:46] #50 closed, assigned to nobody

[2014-01-16 21:19] ghost opened #60 "[UI] Add more padding to results and separators"
If we search something results are too close to the separators. This is not so good by design. I suggest to allow changing the padding or hardcode value (bigger than current default).

[2014-02-27 10:47] #17 closed, assigned to Neamar

[2014-02-27 10:47] #54 closed, assigned to Dorvaryn

[2014-02-27 10:47] #58 closed, assigned to nobody

[2014-02-27 10:47] #60 closed, assigned to nobody

[2015-06-21 10:22] Neamar opened #98 "Search can highlight HTML"
https://app.testobject.com/#/neamar/kiss-launcher/issues/1

[2015-06-21 10:23] Neamar commented on #98
![800](https://cloud.githubusercontent.com/assets/536844/8271306/456091b4-1810-11e5-863d-128b4999b687.png)

[2015-06-21 10:24] Neamar opened #99 "Poor anti-aliasing on contacts"
![_20150517_130317 jpg](https://cloud.githubusercontent.com/assets/536844/8271308/700efe00-1810-11e5-8e0b-cc2223347afd.jpg)

[2015-06-21 10:26] Neamar opened #100 "Black transition"
Instead of getting a nice transition, the screen goes black before opening new activity.

This only happens after the user hits "home" for the second time :\ the first time is working fine.

(easier to detect when setting animation speed to 5x)

[2015-06-21 10:29] Neamar commented on #100
(looks to be fixed with latest Lollipop)

[2015-06-21 10:29] #100 closed

[2015-06-21 14:47] Neamar opened #101 "Search bar disappear when using physical Settings menu"
![2015-06-21 14 47 24](https://cloud.githubusercontent.com/assets/536844/8272062/3c886a2e-1835-11e5-8177-97256ec3ab46.png)

[2015-06-21 15:24] Neamar opened #102 "Add animation when hiding the kissbar"
Currently, there is an animation when opening favorites, not when hiding them.

[2015-06-21 21:24] abgoyal opened #103 "No license"
It'd be useful to know what license the code is under.

[2015-06-22 21:07] markuman opened #104 "Reorder items in background"
When I click an item in the launcher, all items will be first reordered (clicked item to the bottom), and then loaded.
Can we make the reorder process in background for smaller latencies while loading apps?

[2015-06-23 11:59] rdarricau commented on #104
+1

[2015-06-23 13:40] Neamar commented on #103
That's right! I'll add it right now.

[2015-06-23 13:41] Neamar commented on #103
https://github.com/Neamar/KISS/commit/a4939023cb4a60b5c4e283b163307093f9c8ab6f

Thanks!

[2015-06-23 13:41] #103 closed

[2015-06-23 13:42] Amoki commented on #104
+1

[2015-06-23 14:17] #101 closed

[2015-06-23 14:57] Neamar commented on #104
I'll see what i can do!

(for a little background: for memory purpose, the system is allowed to kill KISS right after activity start [to minimize ram consumption] but this means all code must be executed *before* leaving the app. I'll see if i can disconnect the UI from the DB save)

[2015-06-23 17:52] Neamar commented on #102
(an idea from @Sandoche)

[2015-06-23 17:53] #102 closed

[2015-06-23 18:01] #104 closed

[2015-06-23 18:02] Neamar commented on #104
This should be fixed. New version will be in the Play Store in a few hours, thanks for the suggestion!

[2015-06-23 18:04] Neamar commented on #102
Useful link to reverse a `createCircularReveal()`: https://gitlab.com/SaberMod/pa-android-frameworks-base/commit/baf94181f77eff05db6253db57a6eb287641ce3e

[2015-06-23 18:08] Neamar commented on #104
(@Markuman: you may need to join the beta to get the app. Please join on https://plus.google.com/communities/116489528310489783081/members :))

[2015-06-23 18:20] markuman commented on #104
@Neamar k, done. thx :)

[2015-06-24 02:46] losingkeys opened #107 "Keyboard is displayed sometimes when it shouldn't be"
With "Display Keyboard" unchecked, you can get the keyboard to display without tapping the search box. Steps to reproduce:

1. Open an app with a textbox (like firefox)
1. Focus that textbox (so a keyboard opens)
1. Press the home/circle button

The keyboard will be displayed, even though the settings say it shouldn't be.

[2015-06-24 04:27] markuman commented on #107
Yes, sometimes the keyboard appears here too, but the way you discribed I can't reproduce it (Android 5.1.1)

[2015-06-24 07:04] Neamar commented on #107
Thanks for the report! I'll have a look at it asap

[2015-06-24 11:31] losingkeys commented on #107
@markuman: hmm... I'm on 5.1. I'll try to make a video soon demonstrating it

[2015-06-24 21:26] Neamar commented on #107
Hum, i've been unable to reproduce here on Android 5.1.1 too, however with an older device on KitKat the keyboard remains displayed indeed.

I'll fix this within a few days! Thanks for the report, nice catch

[2015-06-24 21:53] losingkeys opened #108 "Toggle items don't stay in the history"
Shouldn't items that toggle settings (e.g. "Bluetooth") stay in the recent history list after using them? I noticed after searching for, and using the bluetooth toggle it didn't stay in the list.

If this was implemented, it'd probably be a good idea to either watch when they changed (so you could update the on/off value accordingly), because I have toggles in my notifications and settings areas t

[2015-06-24 21:54] losingkeys opened #109 "Airplaine mode isn't a toggle"
The airplane mode takes you to its settings page on my phone (LG G4). Threre's a toggle button on that page, but it'd be slightly more convenient if I could toggle airplane mode in the same way I can toggle bluetooth.

[2015-06-24 22:14] losingkeys opened #110 "Missing some toggles?"
I'm not sure if all of these are possible for this app, but here's the list of things I can toggle from my notification area:
- Brightness (auto/manual)
- Flashlight
- ~~WiFi~~ (already working in app)
- ~~Bluetooth~~ (already working in app)
- Sound Profile (vibrate/loud)
- Interruptions
- NFC
- Screen Rotation (auto/fixed)
- Location
- Airplane mode (linked in this app, not yet a toggle; I opene

[2015-06-24 22:39] losingkeys commented on #107
Thanks for the quick response! I just noticed it also pops up when I first unlock the phone after turning it on; not sure if that's the same bug.

[2015-06-25 08:13] markuman commented on #110
I guess only these toggles which are available over the stock android api. In my opinion KISS should just focus on accessing apps, while the taskbar in stock android 5 includes the most toggles and made them fast accessable (just my 2 cents).
![tmp_6216-screenshot_2015-06-25-10-09-22826510907](https://cloud.githubusercontent.com/assets/3920157/8350058/6e22e4b6-1b22-11e5-8127-87729c23791b.png)

[2015-06-25 11:40] Neamar commented on #109
It would be great, isnt't it? Sadly it can't be done :(

Android forbids non-system application to enable / disable airplane mode, that's why it's currently a simple setting.

See this link for instance: http://stackoverflow.com/questions/13766909/how-to-programmatically-enable-and-disable-flight-mode-on-android-4-2

Any idea welcome!

[2015-06-25 11:47] Neamar commented on #110
Actually, i agree with @markuman that Android 5 made toggle easily accessible and reduced their usefulness in KISS.

However, the app was designed to work seamlessly with older devices, where such toggles would be useful.

Maybe the best thing to do would be to add "Portrait / landscape" and "GPS" which seems to be the most useful / common one, and maybe Flashlight.

(toggle code was written a lon

[2015-06-25 12:19] losingkeys commented on #109
Too bad. Maybe they'll open up that API in the future. I figured there was a reason. Thanks anyway!

[2015-06-25 12:19] #109 closed

[2015-06-25 14:02] Neamar commented on #107
Ahah funyy thing is... that's unreliable. Just tried again with the KitKat device, bug wasn't here anymore #eisenbug.

I'll try to add a fix "in the blind" by forcing the keyboard to hide when coming back to the application, we'll see how this works!

[2015-06-25 14:21] pejakm opened #112 "Apk built in Eclipse crashes"
Here it is: http://pastebin.com/6PV9uDCe

Build procedure: Import project, compile. I couldn't compile with project build target set to 4.4.2, Eclipse reported following errors:

Console:
[code]

Problems:
[code]

So I had to set build target to 5.0.1 and compilation went without error. *However, compiled apk installs normally and then crashes upon running the app.*

Apk that was built: http://s00

[2015-06-25 14:24] #108 closed

[2015-06-25 14:26] Neamar commented on #108
Thanks for the suggestion! They've been added to history, but for now they're not automatically synced.

I tried to implement this, but it is really heavy and may slow down the app. If I have time I may try to do it properly.

I'll upload the new app to the beta channel, if you're not part already please join on https://plus.google.com/communities/116489528310489783081/members :)

[2015-06-25 14:29] Neamar commented on #112
That's right, the APK needs to be compiled with Android Lollipop target to ensure Material themes are properly included.

I don't thinks it's really a bug, unless the project build target is specified somewhere in the project to Android 4.4.2?

[2015-06-25 17:01] #98 closed

[2015-06-26 02:07] losingkeys commented on #108
Cool! Is looking up the values on load faster than polling for them? Or is
it about the same?

I don't have a G+ account, but if the commit shoes up in the normal app in
a week or two, I don't mind waiting, otherwise if there's another way to
join I'll try that.
On Jun 25, 2015 09:26, "Matthieu Bacconnier" <notifications@github.com>
wrote:

[2015-06-26 06:12] sandoche opened #114 "Justification des permissions"
Vous pourriez peut-être justifier les permissions Android de KISS Launcher dans la description de l'app.

Pouvoir passer des appels et lire les contacts avec accès complet au réseau est assez risqué pour l'utilisateur.

Facebook, Twitter et Google vont beaucoup plus loin, mais pour une petit app j'imagine que ça peut diminuer la popularité.

[2015-06-26 09:49] jedouard opened #115 "Add shortlink "Alarm""
In Launcher, add shortlink "Alarm".

Thanks!

[2015-06-26 15:16] saveman71 opened #117 "Tapping the home button in the settings should re-open the home screen"
Expected: If you are in the KISS's settings, you should be able to go back by hitting the home button.
What happens: Nothing happens.

[2015-06-26 15:29] saveman71 opened #118 "Add option to enable keyboard prediction"
It would be great if you could add an option to enable keyboard prediction to improve typing something leading to a Google search.

Example: typing "Game of thrones" is slow and tedious, but with keyboard predictions enabled (and Swiftkey) it would be done in seconds.

[2015-06-26 15:32] saveman71 opened #119 "Keyboard does not show up when closing the settings"
With "Display Keyboard" checked, going in the KISS's settings closes the keyboard, as expected, but is not re-opened when hitting the "Back" button, thus returning on the home screen, without keyboard.

Video: https://giphy.com/gifs/l0O9zK4gSDz9ugFAA/html5

[2015-06-26 17:53] pejakm commented on #112
Actually, I see that is set to android-7 by default in Eclipse. But the problem I'ma facing is that compiled apk is crashing (I modified issue report to clarify this). It doesn't matter now as I have compiled apk from releases, and hopefully it will get merged to F-Droid repo soon.

[2015-06-27 00:22] losingkeys commented on #117
I agree. Same thing for leaving the "all apps" view, right?

[2015-06-27 06:25] saveman71 commented on #117
Yep! That would be more logical :+1:

[2015-06-27 10:45] Neamar commented on #118
How do you see that? An option so that prediction are always displayed?

[2015-06-27 13:24] losingkeys commented on #117
Yeah

[2015-06-28 10:47] Neamar opened #120 "App lags on phone with too many contacts"
When having more than 4k contacts, some query can take time to process.

[2015-06-28 10:47] Neamar opened #121 ""Green circle" bug on phone with low DPI"
(as seen on @geekuillaume phone)

[2015-06-28 11:39] #121 closed

[2015-06-28 12:52] Neamar commented on #117
I've been working on this, although documentation on this subject is very sparse.

Normal apps can't override the "home" button behavior for security reasons. KISS being home replacement, it should have access to this information, but AFAIK there is no standard mechanism to implement this.

So far, i've "cheated" using singleTop mode for the activity. This works to hide the application list when p

[2015-06-28 13:18] saveman71 commented on #117
So ordinary launchers that send you to the main panel when you tap the "home" button from another panel are in fact hacking the system ?

:(

[2015-06-29 06:09] Neamar commented on #117
Honestly, no idea! I'll have to find some source code to see how they
manage to do this

On Sun, Jun 28, 2015, 15:18 Antoine Bolvy <notifications@github.com> wrote:

[2015-06-29 15:41] saveman71 commented on #117
Maybe https://github.com/CyanogenMod/android_packages_apps_Trebuchet ?

[2015-07-01 09:22] Neamar commented on #110
After giving this more thoughts, I for one have two toggles I often use that are not easily available:

* USB tethering (and Wifi tethering)
* Battery saver mode

Adding this two would be a nice first step :)

[2015-07-04 10:23] Neamar commented on #112
Android announced they're removing all support for Eclipse build http://android-developers.blogspot.fr/2015/06/an-update-on-eclipse-android-developer.html, so i'm closing this one ;)

[2015-07-04 10:23] #112 closed

[2015-07-04 10:24] Neamar commented on #120
Thoughts on this one:

*

[2015-07-04 10:24] Neamar commented on #120
(cc @Rdarricau)

[2015-07-04 13:50] #120 closed

[2015-07-04 13:55] Neamar opened #123 "java.lang.NullPointerException in fr.neamar.kiss.result.ToggleResult.doLaunch"
Reported via Play Store:

[code]

Application version: 2.5.1

Android version: Android 4.4

Device: pepper

[2015-07-04 13:57] Neamar commented on #123
Interpretation: probably a bug for when toggles are in favorites.

[2015-07-04 15:36] #123 closed

[2015-07-04 16:02] Neamar commented on #119
Related link: http://stackoverflow.com/questions/14973591/why-is-the-soft-keyboard-being-hidden-on-resume

[2015-07-04 16:14] #119 closed

[2015-07-04 16:14] Neamar commented on #119
Also related, `windowSoftInputMode` on http://developer.android.com/guide/topics/manifest/activity-element.html

[2015-07-04 16:34] Neamar commented on #117
Great idea! I found https://github.com/CyanogenMod/android_packages_apps_Trebuchet/blob/fbeaa98b1b188192a0e3b53faa85accd5014a2e6/AndroidManifest.xml#L93 thanks to your link. Although i don't fully understand all implication (documentation is a bit unclear i find), it seems to work as expected.

[2015-07-04 16:51] #117 closed

[2015-07-04 16:53] Neamar commented on #117
(interesting: i think finishOnCloseSystemDialogs would have had the same effect for the KISS settings window too)

[2015-07-05 02:11] losingkeys commented on #107
Not sure if this is related... But if you open the keyboard in KISS, then open an app, then hit home to go back to KISS, it has to redraw without the keyboard, so you see the background where the keyboard used to be, the apps list above that, then it jumps down to fill the space where the keyboard used to be.

Maybe it's possible to avoid this glitchyness?

[2015-07-06 01:14] losingkeys commented on #107
Update: both issues (the above comment and the initial "keyboard being displayed when it shouldn't" issue) seem to be fixed by building the latest.

Which version is in the app store?

[2015-07-06 09:30] Neamar commented on #107
That's interesting! Current Play Store version is 2.5.1 https://github.com/Neamar/KISS/tree/v2.5.1

I've been working on some keyboard troubles https://github.com/Neamar/KISS/issues/119
Since I was unable to reproduce reliably this bug, I did not close this one at the same time.

If you can confirm the current master https://github.com/Neamar/KISS/commit/f303bb10a8573aff8e7ef2a40df29ddb50432214 wo

[2015-07-06 14:32] Neamar commented on #115
Indeed, this would be interesting... but not easy, each phone maker provides its own Clock implementation.

I'll see what can be done, meanwhile some useful links:

* http://stackoverflow.com/questions/3590955/intent-to-launch-the-clock-application-on-android
* http://stackoverflow.com/questions/16256853/intent-to-launch-alarm-settings-in-clock-application-on-android (but ask for a new permission)

[2015-07-06 14:41] #115 closed

[2015-07-06 14:52] Neamar commented on #110
Battery saver mode is not available to non-system app :(
Idem, tethering is a private API, which can be "hacked into" using reflection http://stackoverflow.com/questions/3436280/start-stop-built-in-wi-fi-usb-tethering-from-code but that's something i'd like to avoid as much as possible.

Closing this for now, until Android provides better support on this!

[2015-07-06 14:52] #110 closed

[2015-07-06 22:00] losingkeys opened #126 "Should search items stay in the history?"
I say yes, though maybe non-apps should have a checkbox under their section to disable this?

See https://github.com/Neamar/KISS/pull/124 for the original suggestion.

[2015-07-06 22:05] losingkeys opened #127 "Choppyness when returning to this launcher when the keyboard was previously visible"
Maybe we can trigger a render (in the background?) if and only if the "show keyboard on load" option is unchecked? Unfortunately this could slow things down.

See the comments on #107 for more info (specifically starting with this one: https://github.com/Neamar/KISS/issues/107#issuecomment-118570435).

[2015-07-06 22:05] losingkeys commented on #107
Master has been working fine for me. I haven't seen the issue pop up in the last day of running off of master, and I think I would have in that time. Feel free to close this one. I opened https://github.com/Neamar/KISS/issues/127 for the choppyness issue.

[2015-07-07 10:03] Neamar commented on #126
@sandoche said pretty much the same thing yesterday for phone numbers you manually enter.

Until next weeks, only apps, contacts and settings appeared in history. Toggles, phone number and search query were discarded (well they were stored in history for relevance purpose, but not displayed).

Adding them back would be pretty easy.

Only trouble I see for now: it may create "ugly" layouts for sear

[2015-07-07 23:33] losingkeys commented on #126
It expands that line a bit, but the user can still long press on it to remove it from the history. I don't think this is an issue. I think adding the option to allow/disallow certain things in the history (like searches/toggles) is a good idea.

[2015-07-08 09:39] Neamar commented on #126
Hum interesting. It's an easy one, expect it soon!

[2015-07-08 09:42] Neamar opened #128 "Append incoming SMS senders to history"
With popular demand (@amoki, @rdarricau, @sandoche)!

When the device receives an SMS, add the sender to the history list.

This will require a new permission, but will probably be very useful so you stop forgetting to reply.

[2015-07-09 01:08] losingkeys opened #129 "GPU Rendering Profile: constantly updating lists?"
I decided to see if there was a way to see how fast this app was, just in case I could make it faster :). I came across a few things ([tracingview (code changes)](https://developer.android.com/tools/debugging/debugging-tracing.html), [leakcanary (code changes)](https://github.com/square/leakcanary)), but the easiest thing I found was a developer setting:

https://developer.android.com/tools/perfor

[2015-07-09 09:05] Neamar commented on #129
Wow that's fairly impressive.

TBH i'm unfamiliar with this tool, but it definitely looks like something is wrong here.

I've enabled GPU profiling, and have the same result.

When scrolling, everything is fine, but on idle state  there is something wrong going on.
(displaying the keyboard mess everything)

The issue does not arise on other apps with listview... except on Google authenticator:

![

[2015-07-09 09:10] Neamar commented on #129
(edit: just checked with some logging, `getView()` code, no surprise here)

[2015-07-11 23:19] losingkeys commented on #129
Hmm... if you enable "Show GPU view updates" in the settings as well (warning: this will make the screen flash sometimes), then it shows that the text view is being updated each time the cursor ticks. Maybe it's not a huge deal in that case? But why would it be so far above the target green line?

Anyway adding the following to the main activity disables the cursor when the text view is blurred, b

[2015-07-20 14:25] Neamar opened #131 "Invalid focus"
Pressing the keyboard has no action.

Logs:

[code]

Interestingly, it looks like events are dispatched to the last used application, instead of going to KISS.

[2015-07-20 20:31] #107 closed

[2015-07-20 20:32] Neamar commented on #129
Nice catch. Maybe removing the custom drawable used as a cursor could fix this too. I'll have a look tomorrow

[2015-07-20 20:33] #128 closed

[2015-07-20 20:35] #114 closed

[2015-07-20 22:55] losingkeys commented on #129
I played around with it a bit. It ended up going away when the text box wasn't focused, but removing the custom cursor didn't seem to "fix" it.

This makes me think it's not really an issue... though I can't imagine why the graph would spike so much. I think we need someone more familiar with that graph to take a look.

[2015-07-21 00:33] losingkeys commented on #127
Maybe triggering a render before launching an app would "solve" this? It could slow things down as well though :/

Another thing I noticed: if I hide the system buttons (back/home/apps list) _just_ for this app, then sometimes after this app is loaded it'll rerender and everything will jump down, causing me to tap on the wrong app (frustrating). This sounds like an android issue though. I'm not su

[2015-07-22 20:34] Neamar commented on #131
System log:

[code]

[2015-07-22 20:47] Neamar commented on #131
Interesting related resources:

* http://stackoverflow.com/questions/29804474/android-l-issue-onbackpressed-when-using-flag-activity-reorder-to-front-to-laun
* http://stackoverflow.com/questions/31418683/anr-in-com-android-launcher-after-tapping-back
* http://stackoverflow.com/questions/29111320/using-flag-activity-reorder-to-front-to-switch-among-persistently-running-ui-act
* https://code.google.

[2015-07-24 17:14] Neamar commented on #127
Indeed, that's kindra frustrating today.

Sadly, i have no idea how ton control the keyboard or this rendering... I guss we'll have to dig deeper. But no idea where to start as of now!

[2015-07-24 21:52] losingkeys commented on #127
I've turned off animations, which makes it a little better. I can still see
it chop, it it's not nearly as bad.

I would guess there's a way to hint that you'll need a redraw, but like I
said, I'm new to android. I'll let you know if I read anything good.
On Jul 24, 2015 12:14, "Matthieu Bacconnier" <notifications@github.com>
wrote:

[2015-07-26 19:14] losingkeys commented on #129
So I've been looking around for help in figuring out what the problem is... and I'm not sure that there is a problem.

https://www.youtube.com/watch?v=VzYkVL1n4M8 Is interesting, but didn't really tell me anything I thought could help me here.

At the bottom of [the docs](https://developer.android.com/tools/performance/profile-gpu-rendering/index.html):

This made me think that maybe other apps we

[2015-08-03 17:15] Neamar commented on #129
Indeed, looks to be related to the cursor. Since it happens on other
official app, I think I'll just admit I dob't know what's happening and
close this one ;-) thanks for the report anyway

On Sun, Jul 26, 2015, 21:14 Josh Hoff <notifications@github.com> wrote:

[2015-08-03 17:15] #129 closed

[2015-08-04 13:39] Neamar commented on #126
Actually, it's useful on phone, not that much on search :(

[2015-08-04 13:47] #126 closed

[2015-08-07 15:52] kennyjacob opened #134 "Black Theme for AMOLED Devices"
It would be wonderful if you could add a black theme for the launcher. The white is too bright ;)

[2015-08-07 19:00] TheLastProject opened #135 "App list cannot be opened when favorites is empty"
I like clicking on the green icon in the bottom left to open the app list. However, until you have done at least one thing, KISS will just show the message "No favorites yet. Use the app and favorites will appear".

It'd be nice if the green bar on the bottom, listing favorites when having the app list open, would simply be empty, so that you could always get to the app list, without the error toa

[2015-08-07 22:38] cwmke commented on #134
I agree.  Transparent would be a nice option as well.  Thanks for any consideration.

[2015-08-08 07:39] Nycroth opened #136 "On Phone Number"
I'm using the F-Droid release and only glanced through the issue history. I may be resuggesting something. Is it possible to begin an SMS from an entered number? How about adding them to contacts?

[2015-08-08 08:14] siddharthist opened #137 "Feature request: transparency"
I'd love to see a transparency slider in KISS settings. Could make the whole experience much more visually rich.

Love your work, great product!

[2015-08-08 13:21] DoctorJellyface commented on #137
Agreed.

[2015-08-08 15:54] DoctorJellyface opened #138 "Add top padding"
It would be much more intuitive. At first I wasn't sure if the list ended there, it looked like it continued up.

[2015-08-08 15:55] DoctorJellyface opened #139 "Support for transparent top and bottom bar"
It would make KISS much more beautiful. Makes more sense with #138.

Thanks. Keep up the great work.

[2015-08-08 17:55] kuroidoruido commented on #137
agreed

[2015-08-08 19:23] alexander255 commented on #139
This is probably a duplicate of #137

[2015-08-08 19:24] alexander255 commented on #137
Definitely a something that is missing :-)

[2015-08-08 19:25] DoctorJellyface commented on #139
It's a bit different and only for specific Android versions, so I files a new one. Also, one cannot have a slider for this.

[2015-08-08 19:33] alexander255 commented on #139
Oh, your asking for a transparent navigation and notification bar, not about the actual launcher area. Yes, that would definitely be nice too! +1

[2015-08-08 19:36] DoctorJellyface commented on #139
That's how they're called! Thanks.

[2015-08-08 19:44] alexander255 opened #140 "Feature request: Enter letters using gesture overlay"
I've been previously using "Z Launcher" and discovered your launcher on F-Droid today. While I really like how fast this launcher starts (seconds vs minutes), I also really miss the "enter letters by drawing them using gestures" feature from that other launcher.
Is this something that this launcher will ever support?

[2015-08-08 19:48] alexander255 opened #141 "Launcher should not be shown in the recent activities stack"
If I want to see the launcher I'll just short-press, instead of long-press the home button. Adding it to the recent activities stack is just a waste of space.

Fortunately this one is very easy to fix: http://stackoverflow.com/a/13704995/277882

[2015-08-08 21:00] kuroidoruido opened #142 "Double tap for lock"
I really like the possibility to double tap on the stock launcher screen for lock. Is-it possible to add possibility to lock the screen with double tapping everywhere?

[2015-08-09 09:38] AltNico opened #144 "Rename apps in list"
For example, a Hacker News app from F-Droid is called HN, which is fine in "normal launchers".
But in Kiss, there is so much space that it makes sense to rename it to " Hacker News".

[2015-08-09 09:41] AltNico opened #145 "Widgets above ScrollView"
It would be nice if the user can add one or more widgets above the scrollview, at the size of one or two rows of the ListView.

[2015-08-09 10:57] Neamar commented on #136
That's not something that has been suggested before! But I like the idea.

I guess sending a message could be done by reusing `ContactResult.java` and associated layout and moving code into `PhoneResult` and phone layout (so we get the two buttons we already have on a contact ?).

If you're interested in this, please let me know so i can provide additional information!

[2015-08-09 10:59] Neamar commented on #142
Guess that's something that can be done.

On my android (cyanogen), there's a system setting "double tap on notification bar to sleep", is it a CM feature or a stock feature?

If it's stock, I think it's a nice replacement for the launcher behavior you're describing. If it's not, it may be a nice thing to add.

[2015-08-09 11:01] Neamar commented on #141
That's interesting! I never saw KISS in the recent apps, I thought the system was hiding it automatically because it's the system launcher.

Is KISS your default launcher? If yes, which version of Android are you using?

[2015-08-09 11:02] Neamar commented on #140
Probably not, since this would probably add too much weight to stay "light" :\

Unless there's a system feature for this? In which case it could be easily added.

Closing for now, if you find any useful resource i'll reopen!

[2015-08-09 11:02] #140 closed

[2015-08-09 11:08] kuroidoruido commented on #142
It's a stock feature introduce with android 5.0 but some alternative launcher add it earlier.

I think it's not difficult to add too. Currently there is no action on double tap.

[2015-08-09 12:05] sthesing commented on #137
Came here to request that exact feature, so: +1

[2015-08-09 14:14] moshpirit opened #151 "Widget for any launcher"
It would be great to have the searcher as a widget  for any other launcher (like the default one)

[2015-08-09 16:15] Pluggi commented on #145
We already discussed about that back in 2012 but, as far as I remember, the idea was dropped because it was a bit hard to integrate.

Plus, adding them as if they where rows of the scrollview would give a weird UI, imo

[2015-08-09 16:42] Pluggi commented on #141
I do have the same issue in GenyMotion with Android 5.1.

[2015-08-09 16:43] Pluggi opened #153 "Hide KISS from the applications list"
Maybe it would be a good idea to hide KISS from the application lists (in both KISS and other launchers). However I can't find any way to do it without causing a crash sooner or later.

Remove this in AndroidManifest.xml :

[code]

[2015-08-09 17:14] 7ShaYaN7 opened #154 "Internet search conflicts with a particular app"
when tap the "Search for ..." and when Next Browser is used to handles opening webpage it immediately get closed. but with other browser apps (CM Browser) that I tested on my **ASUS fonepad 7** there's no notable problem.

And then there is another point, while the dialog of selecting app to open the webpage popped up, Google Chrome doesn't exists among the list.

[2015-08-09 17:16] Neamar commented on #153
Maybe related to #141?

However, why do you want to hide KISS from other launchers?

[2015-08-09 17:21] Pluggi commented on #153
Mmh not really.

Because it is meant to be launched by setting Device > Home in the device settings ?

[2015-08-09 20:04] Pluggi commented on #153
I have been thinking about it a little bit more and indeed, it does not really make sense to hide it in other launchers.
So, hiding it only in KISS is way easier.

[2015-08-10 13:36] AltNico commented on #145
I didn't mean look like a row but be as big as a row.

[2015-08-10 15:35] saveman71 opened #156 "Feature request: Add a long tap menu instead of directly removing from history"
Adding a long click menu with the following items would be great:

- App info (take to the app info page to remove cache for example)
- Uninstall app
- Maybe rename app (as suggested in #144)
- Remove from history

[2015-08-10 19:03] Pluggi commented on #156
I was planning on adding a swipe left to uninstall the app when in the list of apps and a swipe right to remove it from history.

What do you think of it ?

[2015-08-10 19:04] Neamar commented on #156
Call me old school, but I like the long press behavior better. Seems more intuitive to me for actions that are rarely used

[2015-08-10 19:05] Pluggi commented on #156
Also, maybe not renaming the app, but instead adding an alias ?

[2015-08-10 19:05] #141 closed

[2015-08-10 19:05] Neamar commented on #156
I like the alias solution!

[2015-08-10 19:06] Neamar commented on #145
So, they would be always visible?

[2015-08-10 19:12] AltNico commented on #145
@Neamar Yes, I thought of this. Above the ScrollView means the widget do not scrolls away, scrolling starts below the widgets.

[2015-08-10 19:20] saveman71 commented on #156
Yep, alias seems good to me!

I like the long press behavior better too.

On Mon, Aug 10, 2015, 21:05 Matthieu Bacconnier <notifications@github.com>
wrote:

[2015-08-10 19:33] alexander255 commented on #141
I'm using CM 11/Android 4.4 and currently my system is set to ask me every time I press the home button which app to use.

It's already fixed at this point. Thumbs up! :+1:

[2015-08-10 19:41] #153 closed

[2015-08-10 19:50] Neamar commented on #154
That's really weird. This may be an issue with Next Browser rather than with Kiss, since the Intent is pretty standard:

[code]

(https://github.com/Neamar/KISS/blob/5299e1393cff40b9cc54bac1b0b41a93dec90d80/app/src/main/java/fr/neamar/kiss/result/SearchResult.java#L52:55)

[2015-08-10 19:52] Neamar commented on #151
Yep! That's something we've been exploring a few years ago with Summon (https://play.google.com/store/apps/details?id=fr.neamar.summon.lite) but today, we want people to use KISS as a launcher. Plus, the widget was not doing much -- simply opening the Summon app, which can also be done by pressing the KISS icon on another launcher.

[2015-08-10 19:52] #151 closed

[2015-08-10 19:55] Neamar commented on #139
Hi! Difficuly is to handle all kind of wallpaper (light and dark one) while maintaining legibility.

We're working on this with @Sandoche, we'll be posting soon mockups for this!

[2015-08-10 19:56] Neamar commented on #138
That would be a nice feature... but absolutely no idea on how to implement this on a ListView :(

[2015-08-10 19:57] Neamar commented on #137
See my answer on #139... and stay tuned ;)

[2015-08-10 19:58] Neamar commented on #135
Right. And that's an easy one!

[2015-08-10 19:58] Neamar commented on #134
We're working on a transparent theme! See #137.

Closing this one.

[2015-08-10 19:58] #134 closed

[2015-08-10 19:59] Neamar commented on #131
Sadly, not fixed by the previous commit... we may have to wait for Android OS to fix this :cry:

[2015-08-10 20:01] Neamar commented on #141
Yep! This will reach the beta channel soon, join here https://plus.google.com/u/0/communities/116489528310489783081 if you want to check it out!

[2015-08-10 20:02] moshpirit commented on #151
But I don't want an app launcher nor an entire launcher just for searching apps/contacts/settings/etc. What I want it's a searcher just like the Duckduckgo searcher widget or the Google's one (which I avoid)

[2015-08-10 20:05] Neamar commented on #151
Hum, but what do you want to search then? The contacts?

Have you tried setting your current launcher as default for home, and touching the KISS icon when you need to search for something?

[2015-08-10 20:07] moshpirit commented on #151
What I want is to use the default launcher but using a widget to search everything I can search using the KISS launcher

[2015-08-10 20:28] alexander255 commented on #140
Depends what you consider a "system feature": There is the `GestureOverlayView` that can be used to record gestures draw onto the screen (giving feedback while the gesture is being draw). Using `GestureLibrary` the collected data then can be matched against a set of known gestures (that have to be shipped as part of the APK).
The gesture library can be built using the *Gesture Builder* application

[2015-08-10 20:30] siddharthist commented on #139
@Neamar Totally understandable. Even if KISS itself doesn't handle legibility, it would be useful for users who want to set their own (legiblility-enabled) background. Maybe transparency can come first, and then legibility enhancing options later? Just to lower the barrier of work.

[2015-08-10 22:13] Pluggi commented on #156
I am currently working on it. I will create a pull request tomorrow if everything goes as expected.

[2015-08-10 23:27] losingkeys opened #157 "Detect search providers, enable all by default, allow disabling multiple in settings"
When discussing [adding DDG search](https://github.com/Neamar/KISS/pull/124), @saveman71 and @Neamar had a good idea: why not just detect "apps that can search", and allow you to open a search directly in those apps from KISS?

This is similar to how [DDG's `!bang`s](https://duckduckgo.com/bang) work, but a little different (you don't add anything to your query (e.g. `!g`), you just select the app

[2015-08-12 07:00] jeekajoo opened #159 "add option to change web search engine"
add option provide not only google as the search engine
but also duckduckgo, startpage, qwant ... for example.

[2015-08-12 07:20] Neamar commented on #159
There is something on the work at https://github.com/Neamar/KISS/issues/157 :)

[2015-08-12 07:20] #159 closed

[2015-08-12 07:26] #135 closed

[2015-08-12 07:27] Neamar commented on #135
Quick and easy fix ;)

Just had to ensure the layout behaved properly. Everything looks OK... this should be in the next release.

[2015-08-12 08:59] jeekajoo commented on #159
oh, I'm sorry.
by the way, thanks/congrats for this great launcher.

[2015-08-12 14:05] Neamar commented on #157
That's a very interesting idea, and it looks like something a lot of people would like to use.

Are you willing to work on a PR on this subject?

[2015-08-12 19:10] jeekajoo opened #160 "Access to system app"
Hi,
I'm using `blankstore` (alternative to google playstore http://forum.xda-developers.com/showthread.php?t=1715375) that is a system app installed in `/system/priv-app/`.
I can't see it in the list of the available items.

Thanks
J.

[2015-08-12 19:21] rdarricau opened #161 "Search in browser history"
Autocomplete with the browser historic when no results  in the phone

[2015-08-12 21:19] alexander255 commented on #140
Please respond whether this is anything you would ever support! Thx!

[2015-08-12 23:43] losingkeys commented on #157
Yes, though I can't promise any speed. If someone else wants to take a shot at it I can provide review/testing, otherwise I'll open a pull when I have something started or worthwhile.

[2015-08-12 23:50] losingkeys opened #162 "[enhancement] Play/pause near apps that can play sound"
It'd be cool if podcast/music/streaming apps had a play/pause button near them (kind of like the message/phone icons for contacts), because then you could start them without opening them. We'd need to keep the icon up-to-date though, because they could be started/stopped elsewhere.

[2015-08-13 07:40] Neamar commented on #140
Hi,

Sorry for the delay, haven't had much time to review all this. Following days are busy, I'll answer next week!

[2015-08-13 08:20] Neamar commented on #162
Wow... not an easy one ><

[2015-08-13 10:49] TheLastProject opened #163 "Translation system"
Having a translation system would make it easier for translators to stay up-to-date with new strings that need to be translated. I would personally recommend Weblate, which is Free Software and allows Free Software projects access for free. See https://weblate.org/en/hosting/.

[2015-08-13 20:02] Pluggi commented on #160
What version of android are you running ?

[2015-08-13 20:11] alexander255 commented on #140
No problem! Thanks for responding! I was just confused since you added the "wontfix" tag just before I had posted my response. ;-)

Some other thing I thought about: Resource titles and search terms should be de-accented to make it easier to search for applications and contacts with non-English names.
Examples for some transformations that would be very useful:
 * German/Swedish/Estonian/Hungarian

[2015-08-13 20:28] #138 closed

[2015-08-13 20:33] Neamar commented on #160
Apps in priv-app are displayed here, provided they give a MAIN activity in their manifest. Will check woth blankstore

[2015-08-13 20:42] DoctorJellyface commented on #138
So this won't be implemented?

[2015-08-13 20:47] Pluggi commented on #138
No, unless you have a clue on how to implement it, and then we may re-open it.

[2015-08-13 20:51] Pluggi commented on #156
See #158.

[2015-08-13 20:51] #156 closed

[2015-08-13 20:55] DoctorJellyface commented on #138
You may want to leave it open to prevent duplicates.

[2015-08-13 21:03] Pluggi commented on #138
It is not deleted, so if people make a simple search, they will find it.

[2015-08-13 21:32] DoctorJellyface commented on #138
I know, just that I'm used to keeping stuff like this open. But anyway, your repo, your rules.

[2015-08-14 00:15] alexander255 commented on #138
Doesn't adding the property `android:layout_marginTop="10dp"` to the main list view (`@android:id/list`) in `app/src/main/res/layout/main.xml` not achieve exactly the requested effect? Did I understand this issue correctly?

[2015-08-14 07:26] jeekajoo commented on #160
@Pluggi omnirom 5.1.1
@Neamar https://github.com/mar-v-in/BlankStore/blob/master/com.android.vending/AndroidManifest.xml

[2015-08-14 08:06] AltNico commented on #163
An alternative would be [Crowdin](https://crowdin.com/) which also offers free projects for open source projects.

[2015-08-14 08:09] AltNico opened #164 "Missing Git Tags"
The last (pushed) Git tag is `2.6.0` while in the commits the last version is `2.6.4`.

Tags are needed for F-Droid to detect updates.

Could you push at least the `2.6.4` tag, @Neamar?

[2015-08-14 08:39] saveman71 commented on #118
Yep, that was my point. Even better with an auto setting like in https://github.com/Neamar/KISS/pull/152

[2015-08-14 12:29] sandoche opened #165 "Dark theme suggestions"
I suggest 4 different dark themes, which one do you like the most ?

## 1. Black & White
![darkv1](https://cloud.githubusercontent.com/assets/3635348/9273838/981b683e-4290-11e5-8987-4fa6c8c8c851.png)

## 2. Black & Green
![darkv2](https://cloud.githubusercontent.com/assets/3635348/9273842/a52c1780-4290-11e5-8206-bb09db5cc7e0.png)

## 3. Dark Grey & Green
![darkv3](https://cloud.githubusercontent.c

[2015-08-14 20:16] Neamar commented on #164
Oops. Didn't know about this. Will push right now!

[2015-08-14 20:19] Neamar commented on #164
Done. Thanks for the information!

(note to self: this means all f-droid runs on the "beta" channel, not on the stable release.)

[2015-08-14 20:19] #164 closed

[2015-08-14 20:19] Neamar commented on #160
From the manifest, everything looks fine. Will test this when I have stable Internet ;)

[2015-08-14 20:22] Neamar commented on #138
@alexander255 adding this will indeed add a margin to the top of the listview, but the margin will always be here, wasting precious pixels.

The "perfect" solution would be something there the top margin is only added when the list can't be scrolled anymore.

(i just had an idea that may be GPU intensive but work; no background on the ListView, a background on each result layout and a Header view

[2015-08-14 20:26] DoctorJellyface commented on #138
If it adds an empty space (no widgets) above the list if apps/contacts, then yes!

[2015-08-14 20:27] mvdan commented on #164
If you do beta releases, mark them as such in the tag name. Something like `2.6.4-beta`. We can use regex to only match stable release tags.

[2015-08-14 20:28] mvdan commented on #164
@AltNico FWIW, then we could use `Update Check Mode:Tags ^v[0-9\.]+$`, since that forbids `-[a-z]+` at the end like `-beta`.

[2015-08-14 20:29] Neamar commented on #164
Alright! Is the update automatic on f-droid, or does this require manual input?

[2015-08-14 20:30] AltNico commented on #164
@Neamar Thank you for tagging. For reference, here's the [MR](https://gitlab.com/fdroid/fdroiddata/merge_requests/924). The Update is automatic, if you tag it like yet.

@mvdan Thank you for commenting.

OK, never have seen this :D Should I change it?

[2015-08-14 20:32] mvdan commented on #164
@Neamar if you tag consistently and don't change the steps required to build, we can automatically update your app daily (if there are updates).

@AltNico yep. Add a maintainer note saying that upstream tags beta releases, just in case anyone thinks of removing the regex.

[2015-08-15 00:40] losingkeys commented on #162
Heh, maybe we shouldn't do this? Imo it could have the same issue as the toggles (being in a bad state). If we can figure this out, we can probably fix the toggles, which would be nice.

[2015-08-15 00:42] losingkeys commented on #163
https://www.transifex.com/ is another option. I can't vouch for it, but I have seen it in other projects.

[2015-08-15 03:37] AnderRasoVazquez opened #167 "Uninstall apps with the remove from history gesture"
Long press should be a menu with the uninstall option and a swipe to the left or right should be the gesture to remove from history.

Keep up the good work! =D

[2015-08-15 04:41] DoctorJellyface commented on #138
@Neamar I vote for adding a hard margin for now and figuring out something better later.

[2015-08-15 10:30] jeekajoo commented on #160
just had the good idea to look for 'Market' instead of 'Blankstore'. it works.. sorry for making you lose some time for nothing.

[2015-08-15 10:32] #160 closed

[2015-08-15 10:45] jeromeg opened #169 "Add phone number type"
Hello,

When there are several phone numbers linked to a contact, they all correctly appear in the results. However to make this 100% useful, the phone type should also be displayed (by type I mean mobile,  pro,  house,  fax...) so that you can distinguish the numbers.

Also, congratulations for this very nice launcher, reminds me of the Palm pre search feature!

Cheers,

Jérôme

[2015-08-15 11:39] Neamar commented on #160
Ahah! No problem ;-)

On Sat, Aug 15, 2015, 12:32 jeekajoo <notifications@github.com> wrote:

[2015-08-15 16:46] gverilla commented on #165
4,2,3,1 would be my priority with strong preference for 4. But I'd take any, as long as there'll be a dark theme. :>

[2015-08-15 18:03] Pluggi commented on #169
Do you have any idea on where to place it ?
Because, currently, the contact pojo is quite busy.

[2015-08-15 18:33] alexander255 commented on #165
My order of preference would be `3 > 4 > 1 > 2` with a big gap between `4` and `1`.

[2015-08-15 19:11] Neamar commented on #140
(quick sidenote: normalization should already occur on KISS.

Samples:
![2015-08-15 19 06 16](https://cloud.githubusercontent.com/assets/536844/9290390/87e86938-4391-11e5-902c-50dcd746d40a.png)
![2015-08-15 19 08 26](https://cloud.githubusercontent.com/assets/536844/9290403/1f05fe7a-4392-11e5-88fe-0651b3733e0d.png)
)

[2015-08-15 21:39] Pluggi commented on #138
I just had an idea that may be GPU intensive but work; no background on the ListView,
    a background on each result layout and a Header view on top of the listview with a
    transparent background.

Do we REALLY need this feature ? I don't think we should waste battery and GPU resources on this.

[2015-08-15 21:43] Pluggi commented on #165
4, 3, 1, 2

[2015-08-15 21:46] Pluggi commented on #140
If you're having troubles with normalization would you please create another issue, just to keep things nice, clear and separated ? :)

[2015-08-15 23:53] alexander255 commented on #140
I guess you are referring to the [StringNormalizer](https://github.com/Neamar/KISS/blob/master/app/src/main/java/fr/neamar/kiss/normalizer/StringNormalizer.java) class?

Nice start, but that list is far from complete and looks like it covers mostly French. Entering an `ö` into KISS launcher does not work, for instance…

Before you start building a table of [all available diacritical marks](https:/

[2015-08-16 05:56] DoctorJellyface commented on #138
Could there at least be an option whether to have the margin or not?

[2015-08-16 10:15] Neamar commented on #165
I also like 3 and 4 :)

[2015-08-16 10:17] Neamar commented on #165
@sandoche was kind enough to send the colors code:

background: #303030
lines: #434343
titles: #b3b3b3
phone number: #7f7f7f

[2015-08-16 10:18] jeromeg commented on #169
True. One option would be to keep it simple and replace the actual phone number by "House", "Mobile", "Pro"... This makes more sense to me and if you need the number,  you can always press the item to have all details.

[2015-08-16 13:21] Zegnat opened #170 "Match “nickname” field when searching contacts."
Several contact applications, including Google’s Contacts, support a default “Nickname” field. It would be great if KISS would match my search against this so I can find contacts based on their nicknames.

[2015-08-16 13:37] alexander255 opened #171 "String normalization only works for some languages"
This is mostly copy-and-pasting from the string normalization related stuff posted at #140.

Mostly string normalization means de-accenting and lower-casing of letters.
Examples of this include:

 * French/German/Swedish/Estonian/Hungarian/Finnish/Icelandic diaeresis: `Ä` → `a`, `ä` → `a`, `ë` → `e`, `Ö` → `o`, `ö` → `o`, `Ü` → `u`, `ü` → `u`
 * French/Italian/Spain/Polish/Czech/Slovak/Macedon acu

[2015-08-16 17:46] Neamar commented on #171
You're right, the code currently mostly works for french diacritics (and probably not as fast as it could run, since it's using regexp).

When the project was started, the Normalizer class was not part of Android (2. something). Since then, we've pushed the lower bound to Android 2.3, so I think it's ok to use the Normalizer class!

Would you mind creating a pull request of your change? It looks l

[2015-08-16 17:47] Neamar commented on #169
Hum, most people never use the home / mobile / fax correctly, and therefore only displaying this info would lead to strange results.

For instance, I have LinkedIn contacts merged on my address book, and it's not doing a proper job on setting the phone type for instance ;)

I think any solution would still require to display the phone number, or at least some information about the phone.

[2015-08-16 17:50] Neamar commented on #163
Ahah that's a lot of services :p

Does this also help in finding translators?

[2015-08-16 17:51] Neamar commented on #154
Unable to reproduce :(

Closing for now.

[2015-08-16 17:51] #154 closed

[2015-08-16 17:56] Neamar commented on #44
See https://plus.google.com/+ThomasKeller1/posts/2VGUTxRu4Uw
And http://stackoverflow.com/a/21047514/1731144

[2015-08-16 17:58] TheLastProject commented on #163
It at very least makes translating easier for those who are not programmers, as they do not have to mess with XML files, which should help getting more translators on the project. Also, translators are more likely to stay around as they will get an email notification if there are new strings to translate, which they otherwise often do not know.

I've personally used both Weblate and Transifex, and

[2015-08-16 22:02] Zegnat opened #173 "List websites that have been added to “Home screen”."
Not a clue if this is possible, but here is my use case.

I use a couple of websites / web-apps, a lot. I used Chrome’s “Add to Home screen” to add these to the Google Now Launcher’s screen. Some of them are used so much I even put them in the bottom / dock area. Switching from Google Now Launcher to KISS Launcher I lost access to these.

Chrome is not the only browser that supports making website

[2015-08-17 05:30] davux commented on #157
I had a slightly different idea: a simple search, like when you type words in your browser's location bar. Favourite engine's already configured there. What about picking a different search engine on the go, then? Well, people normally never pick a search engine when they do a search, they just search. Those who *do* like picking on the fly already know how to do it (e.g. using ddg's bangs).

[2015-08-17 05:32] davux commented on #173
Search through favourites, maybe? That concept seems more generic among browsers.

[2015-08-17 05:42] davux opened #174 "Provide intent for apps"
I was about to suggest: "in mail app Foo, I'd like to be able to type a mailbox name and launch it".

However, that's a neverending task. You simply can't keep up with all the apps out there, especially without clogging KISS.

So here's another idea: provide an entry point, I think Android calls them "intents", that any app willing to be a provider could use to register searchable content. And if

[2015-08-17 05:49] saveman71 commented on #157
Then maybe we can implement a type of "always use this search engine"
option on a search result in the long tap menu as a complement to having
multiple search results?

On Mon, Aug 17, 2015, 07:30 David Ammouial <notifications@github.com> wrote:

[2015-08-17 07:14] Zegnat commented on #173
Web apps work slightly different from bookmarks (or favourites) though, e.g. they can run without any browser UI. See Chrome’s [Add to Homescreen](https://developer.chrome.com/multidevice/android/installtohomescreen) page.

[2015-08-17 08:03] Sp3r4z opened #175 "Apps detection failed"
Some apps aren't detect by KISS Launcher, so I can't access to these apps by searching.
Apps examples, which aren't present or disappear sometime : F-Droid, Instagram, messenger (by facebook), Orbot…
After a reset "vider l'historique" the "green circle" turn then stops and all my apps are accessible.

I've disable/remove the "quick start" option, so android start normally.

No problem find with "d

[2015-08-17 12:52] ilmich opened #176 "Adding missed calls in history"
Hi,

my congratulations because this launcher is really phenomenal.
For fun, I have implemented the addition of contacts of missed calls in the history of KISS Launcher.

Do you think it can be a useful!?!?

Cheers

[2015-08-17 13:09] Neamar commented on #176
That would be great! You say you have a PR?

[2015-08-17 14:14] jeromeg commented on #169
I guess you could prefix the number with the type then and make that optional if you think it could lead to errors in some cases.

[2015-08-17 14:21] jukebox opened #177 "toggle "access point""

[2015-08-17 15:31] ilmich commented on #176
Not yet, code is very raw.. but If you would take a look

[2015-08-17 20:15] Neamar commented on #177
You mean, for tethering?

[2015-08-17 20:16] Neamar commented on #177
See #110 for some ideas regarding toggles.

Sadly however, tethering is not part of any public API and can't be used by custom launchers :(

[2015-08-17 20:18] Neamar commented on #175
Now that's weird.

We spoke a bit about this on Twitter, no idea yet. Do you think you can retrieve the application logs and send them? This may help.

[2015-08-17 20:21] Neamar commented on #176
Well, this seems pretty good!

I think however that just as for SMS, adding all incoming call would be even better (not only missed ones). This way, you can quickly send a message or call back.

[2015-08-17 20:21] Sp3r4z commented on #175
Yes, maybe I can but: How to retrieve "application logs"?

[2015-08-17 20:24] Neamar commented on #99
Can't find any way to do this properly back to Android 2.3.

Closing :(

[2015-08-17 20:24] #99 closed

[2015-08-17 20:26] Neamar commented on #142
Double tap would mean adding a delay before launching an app (since on first touch, you need to wait to see if there is a second action). This is acceptable in standard launchers, where most of the screen is "passive", but on kiss this would delay the listview and slow the app.

Closing for now, unless you have some solution to avoid this?

[2015-08-17 20:26] #142 closed

[2015-08-17 20:27] Neamar commented on #162
As is, it's probably a neverending task :(

[2015-08-17 20:27] #162 closed

[2015-08-17 20:29] Neamar commented on #167
Hum, i like the long press menu, but there's a lot of people saying this should be a swipe gesture.

However, adding swipe also means adding a Snackbar to undo, and some animation, etc. This may get heavy quite quick.

Let's keep the menu for now!

[2015-08-17 20:29] #167 closed

[2015-08-17 20:33] Neamar commented on #170
You're right. However, contact searching is already quite slow for users with a lots of contacts (see #122), so adding a new search field would double the time and probably lag too much. But this is something that can be tested and improved.

It would also require some changes in the way results are displayed, so the user can understand why the contact is returned.

Personally, I don't feel like d

[2015-08-17 20:33] #170 closed

[2015-08-17 20:36] Neamar commented on #173
Any idea on how those WebApps can be retrieved and listed?

If yes, adding them to KISS won't be really hard.

[2015-08-17 20:41] kuroidoruido commented on #142
For me the delay is a choice. I think this may be an option (by default disabled). So if someone really wants this feature he can, others does not have and don't have any delay.
Or maybe we could extend the left and/or right border to offer a space for double tapping with no delay?

[2015-08-17 20:41] Neamar commented on #163
I submitted KISS to weblate.

"Now waiting for adminstrator".

[2015-08-17 20:42] Neamar commented on #174
We have something pretty similar going on with #157 where we want to find all search providers on the device and use them.

It would be a nice addition to KISS :)

[2015-08-17 20:43] #177 closed

[2015-08-17 20:43] Neamar commented on #161
Hum, i'd rather search in browser favorites instead, as suggested on #173.

[2015-08-17 20:43] #161 closed

[2015-08-17 20:53] Neamar commented on #161
Also, don't think Chrome history is available to other apps.

[2015-08-17 22:19] davux commented on #174
Actually this is something different. By the way, I'm all for #157 and am even participating in the discussion.

The idea for this issue is to create a new intent, say "KISS searchable content provider", that individual applications could register against, in order to declare their searchable content *themselves*. Let's say I'm the dev of a photo app, I could declare the name of the albums to the

[2015-08-17 22:21] AnderRasoVazquez commented on #167
Currently is there a way to uninstall apps?

[2015-08-17 22:34] Neamar commented on #167
Not yet, at least not on stable version.

If you want, you can either join the beta channel (on the play store), or wait a few days.

2.6.5 is also removing some unused permissions, and I'd like to ensure everything works properly. Once this is done, I'll publish the new tag :)

[2015-08-17 22:35] Neamar commented on #174
Aha, ok I understand better.

No idea how this can be coded though ;)

I'll reopen, let's see if someone know Android better than us ^^

[2015-08-18 01:57] losingkeys commented on #165
I like 4 or 3. Maybe we could have it switch automatically with the light sensor, like Google maps does?

There could be a preference that switches between light/dark/auto if we think people would want it to stay one color.

I think there's some debouncing in the theme switching for Google maps, because if you put your hand over the sensor it takes a few seconds. We should do this too so the theme

[2015-08-18 12:39] ilmich commented on #176
You're right, and also code becomes much simpler!!
Soon I will send you the PR :)

[2015-08-18 14:00] Neamar commented on #163
Here it is: https://hosted.weblate.org/projects/kiss/strings/

[2015-08-18 14:38] TheLastProject commented on #163
It seems to be working. I'd also recommend adding the URL to the README so people finding the project who want to help translate it can find it more easily.

[2015-08-18 16:20] alexander255 commented on #163
I've added several translations to your strings when doing the German translation. Please address these so that I can complete the translation.

[2015-08-18 19:10] Neamar commented on #165
For reference purpose, there was a dark theme in Summon, made by @Dorvaryn. See 6333f3ac6bbe39bc7e9636c0001307bd6f6ce653 for implementation details.

[2015-08-19 10:02] Neamar commented on #163
@alexander255 not sure I understand, where did you add them?

[2015-08-19 13:43] alexander255 commented on #163
I've added them as *source string comments, suggestions to change this string* of the German translation. I thought you'd see those. :-)

Here is a list of all German translations with comments: https://hosted.weblate.org/translate/kiss/strings/de/?type=comments
Just ignore the *Translation comment*s and look at the *Source string comment*s.

[2015-08-19 14:03] Neamar commented on #167
@AnderRasoVazquez just pushed tag 2.6.5, don't know the delay before seeing it on fdroid.

You'll be able to uninstall apps.

[2015-08-19 14:04] AnderRasoVazquez commented on #167
Thanks that's great!

El 19 de agosto de 2015 16:03:14 CEST, Matthieu Bacconnier <notifications@github.com> escribió:

[2015-08-19 14:14] DuncanLithgow opened #182 "Network Data toggle fails to check if network data is active"
Running vanilla Android 5.1 on Nexus 5

Using the Network Data toggle appears to work, but doesn't. The toggle should check for success before marking the toggle switch background as successful.

[2015-08-19 14:16] DuncanLithgow opened #183 "Network Data toggle fails on 5.1"
This toggle doesn't work for me. Running vanilla Android 5.1 on a Nexus 5. KISS version 2.6.4

See also #184

[2015-08-19 14:18] DuncanLithgow commented on #182
I am running kiss 2.6.4

[2015-08-19 16:13] Zegnat commented on #173
They *might* be “[shortcuts](http://stackoverflow.com/questions/5676090/android-is-there-a-programming-way-to-create-a-web-shortcut-on-home-screen)”, and as far as I have been able to figure out you cannot ask for a list of them… If they really are these shortcuts then they are added and removed through intents `com.android.launcher.action.INSTALL_SHORTCUT` and `com.android.launcher.action.UNINSTA

[2015-08-19 19:59] saveman71 commented on #183
I think you meant #182 here ;)

[2015-08-19 20:10] DuncanLithgow commented on #183
Correct, thank you saveman71

[2015-08-20 00:31] losingkeys commented on #157
@davux: I think this is covered already because more frequently used apps show up at the bottom. Depending upon how/if we want to display search results in the list.

Everyone: do we want to display recent searches in the list? We already discussed this in #126... but I think this is a little different, because we're going to have multiple search providers at once. My proposal: let's show the app

[2015-08-20 08:36] #176 closed

[2015-08-20 09:16] jimbo1qaz opened #186 "Keyboard gesture typing disabled"
KISS launcher disables AOSP/Google Keyboard gesture typing.

2.6.4 F-Droid on CM11 Android 4.4.4 Galaxy Nexus.

[2015-08-20 09:38] jimbo1qaz opened #187 "Takes long time to load apps as non-default launcher"
I use KISS Launcher as a search tool rather than launcher. It doesn't work well as a search-only icon, because it takes about 5? seconds to load the first time opened, then 1-2 seconds after swiping from history

2.6.4 F-Droid on CM11 Android 4.4.4 Galaxy Nexus.

[2015-08-20 11:10] ilmich commented on #173
Think that you should develop a receiver for the intent
com.android.launcher.action.INSTALL_SHORTCUT
that saves data of the shortcut in a local database (for example) and then a provider that research on it

I think that for those who use exclusively KISS Launcher, at this time installing a shortcut from chrome (for example) does nothing.

[2015-08-20 11:14] ilmich opened #188 "Hibernate apps on rooted phone"
What do you think about adding this feature only for rooted phones?!?!

[2015-08-20 11:15] ilmich commented on #188
I can develop some code for this.

[2015-08-20 15:46] ilmich commented on #183
Seems that with Android >= 5.0, only system apps can disable/enable Network Data :(

http://stackoverflow.com/questions/26539445/the-setmobiledataenabled-method-is-no-longer-callable-as-of-android-l-and-later

[2015-08-20 16:08] DuncanLithgow commented on #183
Then I guess that should be removed from Android 5+ devices. Should I make that a new issue?

[2015-08-20 16:26] Pluggi commented on #188
What do you mean by hibernate ?
Like disabling them ? (Like the system apps)

[2015-08-20 16:30] Pluggi commented on #165
I'm not a huge fan of the auto-switching theme. I think that Maps implements this mostly because when you're in your car by night, you usually don't have a lot of light in it and/or want to preserve battery for long trips.

[2015-08-20 16:33] Pluggi commented on #183
No need for another issue, but thank you :)

[2015-08-20 16:33] ilmich commented on #188
Like greenify app does, there is a command on android called 'am' that can stop package and related service (not disabling, not freezing) until it's not relaunched.
This reduce battery drain and i think that a shortcut for this can be useful. This trick work only on rooted device.

[2015-08-20 16:36] Pluggi commented on #188
I don't know... After all, KISS means Keep It Simple, Stupid and adding that kind of features would be out of the scope of the project

[2015-08-20 16:39] ilmich commented on #188
Ok, I've suggestet this feature, because I've notice that it's possibile to view/uninstall app and then hibernate for my point of view it's not more different :)

Thanks

[2015-08-20 16:44] Pluggi commented on #188
Wait, is it an Android mechanism ? Because if it is, it would be easy to implement I suppose.
Otherwise, I stand on my position

[2015-08-20 17:02] ilmich commented on #188
the 'am' command it's an android official binary, but is only accessible by privileged users.
there is no way to navigate into settings gui (for example) and use it.
I've produced some code.. it's very simple (check rooted device is a basic task and also execute a binary)

If you want, I can commit my work only for review purpose and only on my fork of KISS.

[2015-08-20 17:10] Pluggi commented on #188
Yes please, do create a pull request (and never hesitate to!). It seems really simple, so yes maybe we'll merge it!

[2015-08-20 19:13] Neamar commented on #165
![2015-08-20 19 09 53](https://cloud.githubusercontent.com/assets/536844/9393051/37f2f928-4780-11e5-8446-0c63ba154ebd.png)

Quick tease... work in progress!

[2015-08-20 21:54] losingkeys commented on #165
@Pluggi I think it's mostly because it's easier to read in the dark, though it looks like [OLED screens may save some battery w/darker themes/wallpapers](http://www.howtogeek.com/131823/htg-explains-does-black-wallpaper-save-battery-on-your-mobile-devices/).

Some UX suggestions I found:

- [Allow users to choose whether or not to automatically choose between light/dark themes](http://ux.stackexch

[2015-08-20 23:03] TheLastProject opened #191 "KISS always displays and searches English names"
Apps can have several names, depending on the language. For example, on an English device, Contacts is called "Contacts",  but if I set my language to Dutch it is called "Contacten". KISS, however, always displays and searches in the English names, even if the app has another name in the language in question.

Example on a Dutch phone, where "Contacts" is called "Contacten" in other launchers, KIS

[2015-08-20 23:27] AnderRasoVazquez opened #192 "Ignore accents"
I would find my apps faster if instead of writing "á é í ó ú" I could write "a e i o u". For example, find "Cámara" app searching "cam" instead of "cám". For Spanish speakers like me would be great!

[2015-08-20 23:34] saveman71 commented on #186
This is related to #118 and #152. Spell checking has to be enabled for gesture typing to work.
I think we can close this as the code is being finalized in #152 and should enable gesture typing if you enable the option of course.

[2015-08-20 23:43] saveman71 commented on #192
Duplicate of #171, currently the code only works for french accents. A pull request is on the way! (#178)

[2015-08-20 23:47] alexander255 commented on #192
Definitely duplicate. :-)

[2015-08-21 08:08] Pluggi commented on #192
Thank you, and don't hesitate to create other issues.

[2015-08-21 08:08] #192 closed

[2015-08-21 08:19] Pluggi commented on #186
Just a clarification: my pull request comes with a setting to choose after how much characters the spellchecking should be enabled. So you'll just have to set it to zero. :)

[2015-08-21 12:00] Neamar commented on #191
KISS does not automatically reload app name on configuration changes sadly.

If you want to change the language, for now you need to either reboot the phone or go to settings and uncheck and then recheck the "App" checkbox. Not perfect, I know :(

[2015-08-21 12:24] saveman71 commented on #186
Oh, great then! I'm closing the issue since it should be fixed by this PR. Feel free to comment if you think we should re-open it.

[2015-08-21 12:24] #186 closed

[2015-08-21 15:03] 7ShaYaN7 opened #194 "RECEIVE_SMS Permisson"
For what the following permission added to the Manifest?
Clearly, what does it do? After reading #128 and #130 I didn't catch anything and couldn't see incoming messages in the history list of the app.

    <uses-permission android:name="android.permission.RECEIVE_SMS" />

[2015-08-21 22:30] junkyardsparkle commented on #165
Yes, switching unexpectedly to a bright white screen is a very bad thing. :stuck_out_tongue_closed_eyes:

The preview image is pretty, but looks like it might be slightly low-contrast for dim backlight settings... which often go hand in hand with dark themes. Just sayin'... but really I'll be happier with anything that isn't blinding white, glad this is in the works.

[2015-08-23 11:03] saveman71 commented on #194
This doesn't add incoming SMS in the history, but the sender of theses SMS (e.g. You receive a message, and if you want to call back the sender, you can do that from the launcher).
I'll close the issue, but If you have any question or remark, please do comment here and I'll re-open it.

[2015-08-23 11:03] #194 closed

[2015-08-23 22:56] kuroidoruido commented on #174
If I really understand, it's really simple to implement.

KISS have to define a listener for a special Intent. This Intent must have a special structure define and documented here (in the wiki and/or readme). When an app want to declare something to KISS, the app just send an Intent, following the defined structure, and declare an entry and how KISS must call app when click on it.

For example, if

[2015-08-23 23:10] kuroidoruido commented on #145
I thought about something about widget, why not offer a second page, at left or right, for add some widget. KISS is very efficient to access app but sometime there is some widget that is really more fast. I think to an agenda widget for displaying all next events. It could be faster to swipe left or right to see it than open agenda app.

What do you think about it ?

[2015-08-24 12:17] alexander255 commented on #174
@kuroidoruido
Very brief explanation of KISS' internal data management structures may be found here: https://github.com/Neamar/KISS#how-does-it-work

Example implementation of this for that is used for contacts:
https://github.com/Neamar/KISS/blob/master/app/src/main/java/fr/neamar/kiss/loader/LoadContactPojos.java (Responsible for loading existing data items when the app starts.)
https://github.c

[2015-08-24 14:37] newluck77 opened #196 "Typed letters don't appear in search bar"
Hi,

As you can see in the screenshot, KISS searches for the letter input, but doesn't display them in the search bar:

![screenshot_2015-08-24-16-17-45](https://cloud.githubusercontent.com/assets/8948865/9442653/4554f102-4a7d-11e5-962e-54f3ad1c968f.png)

I'm on Android 4.2.2, using a Fairphone FP1 (Full specifications see [here](https://fairphone.zendesk.com/hc/en-us/articles/201064718-What-are-t

[2015-08-24 20:33] 7ShaYaN7 commented on #194
If I want to remove this feature from my forked app, can you help me which parts of the code must be removed or changed?

[2015-08-24 20:35] AltNico commented on #145
@kuroidoruido I like the idea. :+1:

[2015-08-24 22:35] saveman71 commented on #194
You should be able to remove this feature by reverting 7ccd829b73ec8b3d86ceed7de0380764027f8e33 (the merge commit of #130)

[2015-08-25 07:55] ThePreviousOne opened #197 "support for different search Engines"
I use Ixquick.com (I reject Google) but even startpage.com good

[2015-08-25 08:24] licaon-kter opened #198 "Application list not updated on "Protected Apps" changes"
Using Cyanogenmod I can hide less used apps so that I don't have a cluttered app list.
KISS updates the app list on un/install only, afaiks, so even after a KISS crash the app list was not updated.

Any chance of either KISS reruning app detection on "Protected Apps" changes or maybe add a menu entry to "Update app list" ?

Thanks

[2015-08-25 11:46] Pluggi commented on #197
It's on its way to master, see #157.

[2015-08-25 11:46] #197 closed

[2015-08-25 17:46] Pluggi commented on #165
Yes obviously, @losingkeys. :)

[2015-08-25 17:56] 7ShaYaN7 commented on #194
Reverting causes many conflicts and since I changed the package name of my forked project, ineluctably going to removing the permission.

as my some limited tests, it not throws any exceptions.

what you think about this stupid option?

[2015-08-25 22:05] losingkeys commented on #165
I guess what I was trying to say was this:

I wasn't aware that apps had the "auto light/dark" and didn't use it as the
default. I think we should implement it (i can make a pr sometime later),
and I think it should be the default, though it doesn't sound like there's
consensus there. What does everyone else think?

- Should we have an "auto light/dark theme" feature?
- Should we enable it by defa

[2015-08-26 15:42] Pluggi commented on #194
Why don't you just resolve the conflicts?

I'm sorry I can't help more than that, I'm on vacations and I don't have a PC right now.

[2015-08-26 16:14] ghost opened #199 "Smart keyboard hiding"
Hi, I have the “Display keyboard” active and the launcher starts with a visible keyboard.

I think it would be useful to hide the keyboard automatically as soon as I start scroll the list down. The scrolling usually indicates that I'm are not interested in typing any more and want to see the items at the top of the list. Hiding the keyboard would save a lot of space and show more items.

This is j

[2015-08-26 16:25] ghost opened #200 "Change app menu style"
Hi, currently holding a touch over an item in the list opens a menu, which is hooked to the item. The problem is that when the item is at the top of the screen, the menu show up below the item and when item is at the bottom, the menu appears above it. It is always a bit of a surprise for the user where to expect the menu. This part of the UI does not feel predictable.

I would prefer to have a sta

[2015-08-26 19:58] alexander255 commented on #198
What version of CM are you using? Where (in settings) do you activate this feature? Is there maybe some documentation from CyanogenMod somewhere that documents this feature (including technical information for app vendors if possible)?
I'm using CM11 and I don't seem to have this feature yet (but once I upgrade I'd be great if it works OOTB).

[2015-08-26 19:59] alexander255 commented on #197
OT: @ThePreviousOne Is there an installable search engine provider for IxQuick available somewhere?

[2015-08-26 20:00] alexander255 commented on #145
Definitely: +1

[2015-08-26 20:02] alexander255 commented on #140
If I provide a working PR for gesture overlay input (after #178 has finally been merged), how big is the chance that it will be merged?

[2015-08-26 22:53] licaon-kter commented on #198
CM12.1, but this is a feature since CM11 M8.

You can access it either in the default launcher ( Trebuchet ) by long holding the main screen and scroll to the bottom: http://fs04.androidpit.info/userfiles/6473453/image/cm11_m8_settings.jpg ( you need to set up a gesture on first usage ) also, not sure it is on CM11 like this but on CM12.1 it's also accesible in the Apps list ( on the 3 dots menu,

[2015-08-27 00:19] alexander255 commented on #198
Posting search links does not count ;-)

Anyway I tried updating KISS to receive the `cyanogenmod.intent.action.PACKAGE_PROTECTED` broadcast intent, but doing so requires the `cyanogenmod.permission.PROTECTED_APP` permission which in turn would require KISS to be a system app to be granted. This is therefor more or less a dead end.

Looking a the CM bug tracker, it seems that the current implement

[2015-08-27 00:47] licaon-kter commented on #198
I used search to find it :)

Anyway, like I said either this or a "Force app list rebuild", which I guess is pretty trivial by comparison.

[2015-08-27 13:53] saveman71 commented on #196
Thanks for the bug report! @Neamar who is the main person in charge of developing the app is currently on vacation, but will surely take a deep look at your report on Monday!

[2015-08-27 13:58] saveman71 commented on #199
Thanks for the input!
I understand what you mean, and that could be a great feature indeed! We should, however, consider how hiding the keyboard automatically on scroll could break the scrolling animation and lead to an unexpected misclick...

[2015-08-27 14:00] saveman71 commented on #200
I agree with @aeuii on this. It should be the same dialog style as the dialog when you tap on the KISS menu to go to the settings.

:+1:

[2015-08-27 14:47] Pluggi commented on #200
I do agree.

[2015-08-27 14:51] Pluggi commented on #196
It's really weird and I wasn't able to find anything on the web...

Maybe it's because of the InputType ? Or a white font ?!

[2015-08-27 17:21] licaon-kter opened #201 "App list sorting options"
I find the whole inversed alphabetical sorted pull down for A to Z system rather awkward.

Any chance to get a settings option to set scroll direction? Now it's A ( bottom ) to Z ( top ), I would like to be able to inverse that so I can scroll down to Z.

Also some other sorting options besides alphabetical, something like **less used first** ( since the main list kinda covers the most used option

[2015-08-28 01:25] losingkeys commented on #157
Note to self: [queryIntentActivities](https://developer.android.com/reference/android/content/pm/PackageManager.html#queryIntentActivities(android.content.Intent,%20int)) looks like the way to get the list of installed apps that can search.

[2015-08-28 13:11] saveman71 commented on #163
Since the translation is now live on Weblate, I suggest we close the issue. Any reason to leave it open ?

[2015-08-28 16:47] #163 closed

[2015-08-28 18:14] newluck77 commented on #196
I don't know what's meant by InputType, so I can't comment on that. As for the white font, I just deactivated Gravity Box, just to make sure it does not interfere, and the result is the same: No letters displayed in the search bar.

[2015-08-28 23:45] leonaard opened #202 "180° orientation"
KISS wont rotate 180 degrees (reverse portrait).

To solve this you need to change `android:screenOrientation` in the `AndroidManifest.xml` from `"portrait"` to `"userPortrait"` :)

reference: https://developer.android.com/guide/topics/manifest/activity-element.html

[2015-08-29 02:30] davux commented on #157
Do you mean "search" as in any searching any kind of searchable object (contact, file through its name, web search...) or specifically web search?

Also, you don't want to search anywhere. For example I don't necessarily want to search through my documents' content when typing something (or do I?). I might want to look up document names though.

Other open question: take an image gallery for examp

[2015-08-29 07:50] tobykurien opened #203 "Direct dial USSD number fails"
It dials the number without the trailing hash

[2015-08-29 22:04] losingkeys commented on #157
I think the goal is to add any apps that can be used to search as search providers in KISS. We're going to need to have some discussions about the best default behavior. I think I can see your point about not wanting to search using some apps, and some are already redundant because KISS provides a nice UI for them (like Contacts).

Maybe a whitelist would work. We could enable things like browsers

[2015-08-30 01:38] phonglanhuong opened #204 "4 items on menu displayed error"
4 items which displayed nearest items
 sometimes don't display. ex : contact item,   don't add new item

[2015-08-30 11:03] phonglanhuong commented on #200
Yes , i am, too

[2015-08-31 12:58] #165 closed

[2015-08-31 13:17] Neamar commented on #157
I believe a default whitelist would be nice (Maps, Youtube, DDG...). Then, some setting to enable / disable other content sources?

[2015-08-31 13:21] Neamar commented on #203
(not from the US, but from France where we use spaces instead of dashes for phone numbers)

As of now, KISS strips dashes from queries (to ease searching people with composed name).

I believe removing this behavior would fix your issue, although i'll be unable to test.

Will you be able to compile Kiss from your side of the ocean to ensure the bug is fixed ?

[2015-08-31 13:34] Neamar commented on #182
Closing this one as duplicate ;)

[2015-08-31 13:34] #182 closed

[2015-08-31 13:40] Neamar commented on #203
#203 is ready, if you can test i'll merge.

If you can't test... well, I guess i'll merge too after a few days of use to ensure nothing else broke.

[2015-08-31 13:42] tobykurien commented on #203
Umm, I think I described the bug badly. I wasn't referring to the searching of numbers. Let's say I have a number saved, e.g. ```*101#``` which allows me to check my prepaid balance. I then search for it, e.g. ```bal``` and it shows result ```Account Balance *101#``` along with two icons, one for direct message and one for direct dial. I click the direct dial, and instead of dialling ```*101#```,

[2015-08-31 13:44] Neamar commented on #202
Right! I had disabled the 180° orientation on my device, as that's not something I use personally, but it's an easy fix ;)

[2015-08-31 13:44] #202 closed

[2015-08-31 13:49] Neamar commented on #196
Wow. Extra point for this new Android Weirdness Issue!

Thanks for the log, although i can't find an easy tell :(

I'd bet on "Losing focus". Since you're using Android 4.2, you may suffer from the same issue highlighted in #131, but the log is really different from what I've seen so far.

Does this happen all the time? When this happen, are you able to select the text in the search bar (if yes, i

[2015-08-31 13:52] Neamar commented on #201
Nice idea. I like it ;)

(if anyone has time for this?)

[2015-08-31 13:58] Neamar commented on #194
@7ShaYaN7 if you want to remove this you can simply remove the `.broadcast.IncomingSmsHandler` class, and remove reference to this class from the manifest.

If you wish to keep getting updates from the main project, you may find it easier to simply remove the permission from the manifest, as well as this part:

[code]

Note there is the same thing for incoming call; if you find this "stupid" you m

[2015-08-31 14:07] Neamar commented on #140
@alexander255 first, sorry for the delay in merging your first PR, i have been on vacation lately and need to catch back on a lot of things -- sadly, KISS is a side project ;) But i'll get to your PR!

Regarding your question, i'm not a huge fan of gesture overlay, but if you have a small PR (meaning the app stays below 140k) that's definitely something i'll look at!

(althoug i may ask for a sett

[2015-08-31 14:07] Neamar commented on #145
Great idea! If you're all OK, let's close this one and open a new issue where we can discuss in more details this idea?

[2015-08-31 14:09] Neamar commented on #165
(@losingkeys: not a huge fan of the automatic dark / light switch, useful on Google Maps but not sure on a launcher. However, i'm always open to PR! Let's create a new issue to discuss this now that this one is closed?)

[2015-08-31 14:14] Neamar commented on #173
Right. If anyone has time for this, a PR would be welcome :)

[2015-08-31 14:22] Neamar commented on #187
Yep, that's right :(

Not sure this is something that can be fixed though (other launchers have the same problem, they just keep a local copy of all apps).

However, that's something that probably can be improved. I'll have a look.

[2015-08-31 14:26] Neamar commented on #187
Wow.

Really interesting!

Updating `AppLoader` with logs give this:

[code]
Looks like sorting apps takes forever. Now, i'll definitely have a look...

Code:
[code]

[2015-08-31 14:37] newluck77 commented on #196
Great, I love winning points! ;)

The issue happens all the time and I cannot select the text in the
search bar.

What I forgot, but may help you finding the cause of the problems: The
keyboard does not come up, when I press the search bar. That's why I
activated "Display keyboard" in KISS Settings. Otherwise I would not
even be able to type in the first place.

All other buttons (KISS-circle, men

[2015-08-31 15:05] Neamar commented on #187
(details on http://stackoverflow.com/questions/2009013/intent-to-pick-an-installed-application-slow-in-my-activity-why)

[2015-08-31 15:53] AltNico commented on #145
Closed in favour of new issue.

[2015-08-31 15:53] #145 closed

[2015-08-31 16:03] kuroidoruido commented on #145
@AltNico do I create the new issue or you done it?

[2015-08-31 16:29] losingkeys commented on #165
Sounds good! I'll add it to my TODO list :)
On Aug 31, 2015 9:09 AM, "Matthieu Bacconnier" <notifications@github.com>
wrote:

[2015-08-31 16:31] AltNico commented on #145
@kuroidoruido You had the idea for the swipe, so I think you should open it.

[2015-08-31 16:36] kuroidoruido opened #207 "Second page for widget"
New issue for my suggestion made in #145 :

[2015-08-31 16:37] kuroidoruido commented on #145
See #207

[2015-08-31 21:43] losingkeys commented on #157
@Neamar I agree, but I'm going to implement it piece by piece, which will mean there's no whitelist to start. I'll let you know what I notice and which commits you can reset to if you want to test it on your phone.

[2015-08-31 23:38] losingkeys commented on #157
I've made some progress in my `search-apps-directly` branch. The current issue I'm having is this: when you use `queryIntentActivities` with `Intent.ACTION_SEARCH`, you get a bunch of `Intent`s back. You sometimes get more than one per app. Reading the intents, it's usually clear which one is the most general (e.g. `SearchActivity` vs `BookReaderSearchActivity` for kindle). However I haven't yet f

[2015-09-01 07:45] Neamar opened #208 "Black theme crash on 4.4"
On the Play Store beta channel:

[code]

[2015-09-01 07:50] Neamar commented on #208
Was able to reproduce on local device,

Full stack trace:

[code]

[2015-09-01 07:54] Neamar commented on #208
Known Android limitation previously to API21+: https://code.google.com/p/android/issues/detail?id=26251

[2015-09-01 08:01] #208 closed

[2015-09-01 08:07] Neamar commented on #174
@alexander255 is right. So adding this custom intent handling would require creating one file of each (not as hard as it may sound, interfaces are pretty intuititive) + creating a new DB table to store "custom intents".

[2015-09-01 08:13] Neamar commented on #157
Alright!

Regarding your issue, I fear there will be no silver bullet. But if we use a whitelist approach, we can manually handpick relevant search for known apps, and then let the user picks other search providers in the global list? (kinda like Cyanogenmod does ring customisation I believe)

[2015-09-01 09:21] #191 closed

[2015-09-01 09:21] Neamar opened #209 "Allow KISS to be used as Google Now replacement"
If I remember correctly, there is an Intent that can be used to replace the default Google Now button (long press).

For people who want to keep their homes but use KISS, it could be a nice improvement

(will need to backport improvements from #187 to be really useful)

[2015-09-01 09:42] Neamar commented on #127
Closing for now, no idea for improvements :(

[2015-09-01 09:44] Neamar commented on #139
Transparent statusbar is part of the latest release (on the beta channel for now).

Looks like there is some bug with the statusbar, i'll check this soon.

[2015-09-01 10:28] Pluggi commented on #204
Could you please try to rephrase it, because we are not really sure about what you mean.
Thanks in advance.

[2015-09-01 10:58] Neamar commented on #139
Sadly, the transparent navigationbar can't be achieved while keeping the notification area transparent.

Adding this to the theme should have done the trick:

[code]

But sadly, translucent means the UI extends below the navigation bar (whose size is not exported in public attr AFAIK), which breaks everything.

Adding `fitsSystemWindow` fix this, but disable the wallpaper behind the navigation.

I

[2015-09-01 11:01] DoctorJellyface commented on #139
Yeah, that would be great, would also solve #138.

But I don't get it. Other launchers have a translucent bottom bar normally, e.g. Nova.

[2015-09-01 11:35] sandoche opened #210 "Transparent theme suggestions"
I suggest 4 different dark themes, which one do you like the most ? (cf #205)

## 1. Transparent & dark bar
![transparent_dark](https://cloud.githubusercontent.com/assets/3635348/9603042/0a9c8b9c-50ae-11e5-9d2a-32c88d4ba40c.png)

## 2. Transparent & dark bar & blur
![transparent_dark_blur](https://cloud.githubusercontent.com/assets/3635348/9603051/19452a0a-50ae-11e5-81f2-9241b26ab3b4.png)

## 3. T

[2015-09-01 11:48] Neamar commented on #139
So, according to http://stackoverflow.com/questions/25603718/android-navigation-bar-size-in-xml the dimension is not exported in XML.

The solution could be to retrieve programatically the navigationBar height, and add an artifical margin.
I've started work on this on https://github.com/Neamar/KISS/pull/211 but sadly, the backgrond does not go *beyond* the navigation bar :\

[2015-09-01 12:00] Neamar commented on #139
Edit: stupid error, my wallpaper had black ribbons. However, there is still some troubles when displaying the keyboard :\

[2015-09-01 12:04] Neamar commented on #139
Oh, damit. Forget about all this, i'll just set the navigation bar to transparent without any gradient. Not perfect, but it works.

![2015-09-01 12 01 38](https://cloud.githubusercontent.com/assets/536844/9603633/4134b7a2-50b2-11e5-8e47-bff0a69b2145.png)

[2015-09-01 12:04] #139 closed

[2015-09-01 12:05] DoctorJellyface commented on #139
Cool!

[2015-09-01 12:05] Neamar commented on #210
Since 5aa143e9e8978f48b94d7b74db778a44c722b171 we can have a transparent navigation bar too :)

I for one like the last one (transparent + white search bar)

[2015-09-01 13:12] Pluggi commented on #210
Yep, the last one is the best.

[2015-09-01 14:17] phonglanhuong commented on #204
icon toggle and icon call new number. i think it should toast ford user to know toggle dont active in favourite and icon call should change. :)

[2015-09-01 14:24] volnes opened #212 "Feature request: no icons mode"
Just like this search based launcher
https://play.google.com/store/apps/details?id=com.ideasfrombrain.search_based_launcher

![image](https://cloud.githubusercontent.com/assets/5400851/9606766/0c816afc-50ce-11e5-9dca-6251c0404486.png)

On old devices (with low ram and 1 core processors) launcher laggin when loading icons

[2015-09-01 16:48] aeuii commented on #199
I “simulated” the behavior by closing the keyboard manually just before
scrolling and it felt “OK”, but it really needs more consideration.

However, switching to the screen with a list of all apps (by pressing
the green circle), should close the keyboard in my opinion, because
there's no input on this screen.

What do you think?

[2015-09-01 20:01] ThePreviousOne commented on #197
Yes https://www.ixquick.com/eng/download-ixquick-plugin.html?hmb=1

[2015-09-02 15:50] Neamar commented on #203
Ah ok sorry! I'll try to reproduce this then

[2015-09-02 15:52] Neamar commented on #203
Indeed, that's a known bug: http://stackoverflow.com/questions/6115887/intent-action-does-not-dial-after-first-sign

Fix is incoming

[2015-09-02 15:55] #203 closed

[2015-09-02 16:00] Neamar commented on #187
Okay, so this is in fact normal.

`Collection.sort` use `loadLabel()` as key, and this in turn creates a query to the package manager for every app.

No silver bullet since `loadLabel` will have to be called, and there's no way to load multiple labels at the same time :(

Closing for lack of ideas.

[2015-09-02 16:00] #187 closed

[2015-09-02 16:06] tobykurien commented on #203
Works like a charm, thanks!

[2015-09-02 16:30] AltNico commented on #164
@Neamar What's the status of this?

[2015-09-03 07:17] Neamar commented on #164
I'm tagging constantly ;-)
For now, i've sent the new app to beta users, there were a few bugs in the
first days. Looks better now, so i guess i'll update on the Play Store and
push the correct tags today!

On Wed, Sep 2, 2015, 18:30 Nico Alt <notifications@github.com> wrote:

[2015-09-03 10:19] 7ShaYaN7 commented on #210
Nice samples for the theme.
Also I am on the two above dev's.
Please speed up your work to add this featured theme as soon as possible.

[2015-09-03 10:26] Neamar commented on #164
(just pushed tag v2.7.2)

[2015-09-03 10:27] 7ShaYaN7 commented on #203
But when the USSD code entered in the search bar, there is no Call option for that.
Clearly, the first asterisk or hash not recognized to bring up Call option.

[2015-09-03 12:15] AltNico commented on #164
Thank you :D

[2015-09-03 15:44] ghost opened #213 "Style of the main menu"
At the moment pressing the menu button (3 vertical dots) opens a dialog overlaying the whole app. I suggest that to be more consistant with other apps and Android UI, it should open an actual menu.
It is an opposite issue to #200 😉

[2015-09-03 18:41] alexander255 commented on #210
Personally I like N° 3 the most since I usually pick backgrounds that I like staring at when I don't want to do anything else. The launcher happens to be pretty much the only app that shows my background image, is very easy to reach and provides a good excuse for having it open (as in: "I might start doing something any second now"). While blurring the background definitely makes sense for most ap

[2015-09-04 06:23] Neamar commented on #203
Right! Would you mind opening a new issue then? Thanks!

On Thu, Sep 3, 2015, 12:27 SHi ON <notifications@github.com> wrote:

[2015-09-04 14:43] atao opened #216 "Description number"
Is it possible to add the description of a nuumber in the launcher?

When a contact have two number, it's convenient!

Thanks!

[2015-09-04 15:11] Pluggi commented on #216
Isn't it a duplicate of #169 ?

[2015-09-04 15:15] atao commented on #216
Yes, sorry
Le 4 sept. 2015 5:11 PM, "Pluggi" <notifications@github.com> a écrit :

[2015-09-04 16:14] #216 closed

[2015-09-05 09:22] lassiewoof opened #217 "Shortcuts needed"
There are many applications, like Greenify, that give the users the opportunity to create useful shortcuts in order to perform various operations (like hibernating apps in the case of Greenify, or boost ram or add events to calendars etc). In my opinion it would be great if these shortcuts could be added in KISS launcher

[2015-09-05 09:27] lassiewoof opened #218 "Keyboard strange behaviour"
In my phone the keyboard doesn't appear (I have to set it always visible by the settings) and I don't see what I'm typing since the key pressed are not shown in the keyboard bar. I use Google Keyboard

[2015-09-05 09:29] #218 closed

[2015-09-05 09:32] lassiewoof commented on #196
Hi, I have the same issue in Android 4.2.2 and I use google keyboard. The typed letters don't appear in search bar and the keyboard doesn't appear too, I have to set the keyboard always visible in settings.

[2015-09-05 09:32] lassiewoof commented on #131
Hi, I have the same issue in Android 4.2.2 and I use google keyboard. The typed letters don't appear in search bar and the keyboard doesn't appear too, I have to set the keyboard always visible in settings.

[2015-09-05 12:40] 7ShaYaN7 opened #219 "USSD direct dial"
When the USSD code entered in the search bar, there is no Call option for that.
Clearly, the first asterisk or hash not recognized to bring up Call option.

[2015-09-05 13:38] losingkeys commented on #157
Quick update: made a little more progress. Some search activites don't work (e.g. Gmail). I might be misusing these, I'm not sure. Some apps don't seem to provide search activities (e.g. Google Inbox :frowning:). Lots more to do!

[2015-09-05 15:01] alexander255 commented on #140
Well, it's mostly working now (but still requires some library-related tweaking). Thing is however: The gesture library (the file containing samples) will definitely be bigger than 20kB (no reasonable way around that). How about only adding the gesture detection code to KISS and making the library some separate app/download?
(Also I never planned on making this feature on-by-default.)

[2015-09-06 12:39] emersion commented on #199
I agree with @aeuii, switching to the list view should hide the keyboard as soon as there is no text entry, and switching back to search view should re-open it.

[2015-09-06 13:39] emersion opened #220 "Old-looking contact pictures"
The default picture for contacts is a grey Android, and it doesn't look really nice in KISS. Would be great to have a better default picture! :-)

[2015-09-06 13:46] Pluggi commented on #220
Hello @sandoche

[2015-09-06 14:47] JossMarley commented on #217
This is the reason I don't use KISS!!!

[2015-09-06 17:14] licaon-kter commented on #198
As a workaround, I messed around KISS options toggling providers on and off and after I got back looks like (most of the time) it forces an app re-listing.

[2015-09-06 20:13] Neamar commented on #220
Just checked, `ic_contact_picture` is private on http://androiddrawables.com/Other.html and can't be used directly.

@Sandoche, we'll need your help on this one ;)

[2015-09-06 21:54] 7ShaYaN7 commented on #194
@Neamar Thanks a lot for your intact answer.

Since I am a loyal dev, among the above two ways, I prefer the latter :blush:

[2015-09-07 08:26] ilmich commented on #173
I've several PR idle (sorry, but I'm on vacation ;) ).
When they are completed, I'll try :)

[2015-09-07 12:38] #137 closed

[2015-09-07 15:07] DoctorJellyface commented on #139
Can't help it, but I like the first version of the top bar more :P Precious pixels dude! Hehe.

[2015-09-07 16:51] atao opened #221 "the name of my contact is incomplete..."
When my contact have this name :  MyGirl <3
KISS show only My Girl, it's a problem...

KISS launcher 2.7.2 - Moto G 4G - Android 5.1

[2015-09-07 17:09] atao opened #222 "color in menu"
When i use the black theme, menu color does not seem to be the right

![screenshot_2015-09-07-18-52-18](https://cloud.githubusercontent.com/assets/9640884/9720928/9c667aa8-5593-11e5-8d2f-322ef5d1f744.png)

KISS launcher 2.7.2 - Moto G 4G - Android 5.1

[2015-09-08 08:32] Neamar opened #223 "Play store error"
Last reported Sep 6, 1:26 AM
Reports this week 1
Reports total 1
Application version 2.7.2
Android 4.0.3 - 4.0.4
Device Eee Pad TF101 (TF101)

[code]

[2015-09-08 09:04] JossMarley commented on #217
@Neamar can the problem be resolved? I'm bored to use holo launcher!

[2015-09-08 09:44] #223 closed

[2015-09-08 09:53] TheLastProject opened #224 "Hide apps"
There are a lot of phones which come with preinstalled bloat apps that cannot be disabled. It would be nice to be able to hide specific apps in KISS so that these apps that you'd never use won't show up when searching or viewing the app list.

[2015-09-08 11:26] Pluggi commented on #224
We should also add KISS launcher by default to the list of apps, instead of this ugly hack : 8a6d7195f9080751c8c936192bcb874a458ae60c

[2015-09-08 14:57] alexander255 commented on #217
@JossMarley You mean from a technical perspective, you mean? Definitely! But someone has to do it ;-)

You might get lucky through since #173 is probably very similar to this (from a technical perspective) and might be worked on by @ilmich.

[2015-09-08 18:14] Neamar commented on #199
Implemented by @Pluggi ;)

[2015-09-08 19:47] Neamar commented on #222
If i remember correctly, this has been fixed in later commits. 2.7.4 should be bug free.
(or 2.7.6 but i think it's still only for beta users)

![screenshot_2015-09-08-21-44-41](https://cloud.githubusercontent.com/assets/536844/9745595/17005006-5673-11e5-9f76-7c60585dda6e.png)

[2015-09-08 19:56] Neamar commented on #198
Indeed, enabling / disabling a provider is currently a good way to force a refresh of everything ;-)

[2015-09-08 20:03] alexander255 commented on #171
Fixed by merging #178

[2015-09-08 20:03] #171 closed

[2015-09-08 21:59] atao commented on #222
Okay! Good news!
Le 8 sept. 2015 9:47 PM, "Matthieu Bacconnier" <notifications@github.com> a
écrit :

[2015-09-09 11:06] Pluggi commented on #222
Yep, this is fixed in recent versions.

[2015-09-09 11:06] #222 closed

[2015-09-09 11:07] Pluggi commented on #219
Btw @Neamar I'm working on it ;)

[2015-09-09 14:34] Pluggi commented on #219
Continuing on my pull request (#229).

[2015-09-09 14:34] #219 closed

[2015-09-09 14:58] Pluggi commented on #188
Continuing on #190.

[2015-09-09 14:58] #188 closed

[2015-09-09 15:14] Pluggi commented on #204
Oh I think I finally understood.
If the 4 most recent pojos contains a PhonePojo, if you go to kissbar, it will be displayed with a contact icon and not with a call icon.
And once you have clicked on that PhonePojo, it is turned into an app.
But it's a bit hard to reproduce, to be honest.

[2015-09-10 13:35] Neamar commented on #224
Hum, i have no need personally for this feature, but if anyone wants to give it a try I totally understand the need!

[2015-09-10 13:38] kvnco commented on #175
Hello,

After 24h usage (including a reboot), I encountered the same issue here, some app were missing: ConnectBot, Freemote, CoolReader… Whereas F-Droid was still here. ;)
No spinning green circle.
I'm not sure it is relevant, but it seems that most (all?) of the missing app are installed on the SD card.
Everything is OK right after the history clean, and a reboot. I'll keep this ticket updated i

[2015-09-10 13:40] #221 closed

[2015-09-10 13:41] Neamar commented on #221
This should be fixed :) thanks!

[2015-09-10 13:43] Neamar commented on #213
Hum, TBH i tried this at first when implementing the menu ;)

However, if I want to maintain compatibility with phones with a physical menu button, i haven't found a way to display the menu over the 3-dots on both cases.

Help is welcome!

[2015-09-10 13:44] Neamar commented on #217
Hum, that's an interesting point and in fact it would be a nice addition to KISS... i'll have a look at the Android API on this.

[2015-09-10 14:02] Neamar commented on #217
Hum, so it's a bit fuzzy.

Looks like it's mostly a hidden API for the default Android launcher only.

According to http://stackoverflow.com/questions/12738865/how-to-get-the-list-of-all-installed-shortcuts-found-in-the-homescreen-launcher one can retrieve a list of shorctu-creating activities, but I have to say it's not crystal clear.

Regarding the implementation : a lot of stuff to handle right

[2015-09-10 14:02] Neamar commented on #212
Hi,

Thanks for the suggestion!

Before implenting this, have you experienced slowness on KISS? Can you provide the name of your device?

[2015-09-10 14:03] Neamar commented on #210
Fixed by #205 and #227

[2015-09-10 14:03] #210 closed

[2015-09-10 14:05] Neamar commented on #175
Wow, disappearing apps... weirder and weirder. Yes, please keep up posted on this :)

[2015-09-10 14:07] Pluggi commented on #175
Well, I've had the same issue with AppChat yesterday.

[2015-09-10 14:16] aeuii commented on #213
As far as remember menu dots are not visible in other apps, when there is a physical menu button.

Can somone with such a phone confirm?

[2015-09-10 14:38] volnes88 commented on #212
Yes, when i scroll list of all apps launcher laggin when loading icons
Device Xperia Neo V

[2015-09-10 15:06] #118 closed

[2015-09-10 15:08] alexander255 commented on #175
@kvnco Does your device have an internal storage area? (Do you need to insert an SD-Card to save photos, video, music, …?)

If you have inserted an external SD-Card: Are any of the missing apps stored on it? You check this by ejecting the external SD-Card, putting into in a computer (anything non-Android will do) and opening the directory `.android_secure`: If that directory is empty or does not e

[2015-09-10 15:20] kvnco commented on #175
My device has a “phone storage” (separated from the internal storage which is unreachable without root) AND an SD card.
As said in my first post, most (all?) of the missing app have been moved to the SD card.

[2015-09-10 15:30] alexander255 commented on #175
So the apps where moved to the *external SD-Card storag* (versus the internal *phone storage*)?

[2015-09-10 15:35] kvnco commented on #175
Yes I don't know if all of them are, but the missing app I remember are on the SD card.

[2015-09-10 15:39] Sp3r4z commented on #175
I confirm that fact: ALL apps that miss are on the SDCard storage. And seem to be the only apps that fail.

[2015-09-10 15:39] alexander255 commented on #175
@Neamar @Pluggi
Does KISS listen for the [ACTION_MEDIA_MOUNTED](http://developer.android.com/reference/android/content/Intent.html#ACTION_MEDIA_MOUNTED) and [ACTION_MEDIA_REMOVED](http://developer.android.com/reference/android/content/Intent.html#ACTION_MEDIA_REMOVED) broadcasts?
Apps that are on external storage will not necessarily be available when `BOOT_COMPLETED` is fired (at least on older A

[2015-09-10 15:47] Neamar commented on #213
Menu dots in the action bar are hidden by default,

However it's a custom 3-dots here, and therefore a physcial button will not affect its behavior :(

[2015-09-10 15:54] ilmich commented on #217
I've started to develop something, but my idea is to extend KISS Launcher in order to permit installing and searching shortcuts, not to search available shortcuts from other lanchers.

[2015-09-10 16:24] kvnco commented on #175
It happened again… 3 hours after an history clean, the app are missing again.

[2015-09-10 17:16] kvnco commented on #175
Additional information: when the apps are missing, rebooting the phone does not fix the issue.

[2015-09-10 19:29] craftyguy opened #231 "Text on settings screen is hard to read with "light" theme"
After installing 2.7.4, I noticed that the subtext on the settings screen and status bar icons are now very hard to read/see when the "light" theme is applied (see screenshot)
![screenshot_2015-09-10-12-23-48](https://cloud.githubusercontent.com/assets/1474209/9798690/7adf2e04-57b7-11e5-89d0-6724c1c02a22.png)

[2015-09-10 19:59] Pluggi commented on #231
I agree, and I'd like to add that it looks weird to have the notification/navigation bars transparent.

[2015-09-10 21:45] tcuc commented on #175
I have had the same issue. Every time I boot none of the apps stored on the sdcard are in the list. To fix it I go to settings, brows to the on sdcard tab, and then when the apps are loaded I kill the kiss launcher from the app list. After that I use the home button to go to kiss and it loads all apps.
I have an s4 with CyanogenMod 12.1 nightly. (I9505)

[2015-09-10 23:38] marcosporrasvargas commented on #175
I have the same problem, the apps that are in the SD card aren't detected by Kiss Launcher, I have to open them from Google Play. My device is Huawei Ascend G510-0251 with Android 4.1.1, no root. I really want the Launcher because my phone has low RAM (512mb).

[2015-09-11 10:00] aqeeliz opened #232 "Changelog"
Please provide a changelog with each release. Preferably add it in git source, otherwise atleast add it to F-Droid & Play Store app page.

[2015-09-11 13:37] Neamar commented on #232
Hum, there is a changelog on Play Store.

What's the usual format for fdroid? Where should i define it?

[2015-09-11 13:38] Neamar commented on #217
Ok!

What do you mean "from greenify"? I thought there would be a list of all shorctus, and you could pick one to add it to KISS?

[2015-09-11 18:04] ilmich commented on #217
not properly... there is not a list of all shortcuts available... some apps can install shortcuts to access directly some functions(whatsapp contact chat, open site in browser... and so on). in other launcers this shortcuts appears as links in home screen...in kiss launcher shortcuts become searchables.
I'll implement this, in other words users can install and search shortcuts. this is accomplishe

[2015-09-12 15:42] marcosporrasvargas opened #235 "Change the search bar position"
It will be fine to have an option for change the search bar to the top or to the bottom

[2015-09-12 17:00] marcosporrasvargas opened #236 ""Not to show history " option"
I'd like to have the option to hide the history of the apps that I opened. Something like never save the app history. I know that we have the option to reset the history, but it is so annoying to reset it every moment.

[2015-09-12 17:12] Pluggi commented on #236
This would be a little weird as the goal of KISS is to improve the efficiency of the user and it is one of the main features of KISS...

[2015-09-12 18:16] licaon-kter commented on #212
+1

I guess I have this too, when scrolling the apps list the text goes faster than the icons and it ends up right near previous icons, after a moment the good icons catchup.

Sony Xperia Sola CM12.1

[2015-09-12 18:18] licaon-kter commented on #175
+1

Sony Xperia Sola CM12.1

Apps moved to SD card do appear again but at random times, even hours or minutes after a reboot, kinda frustrating.

[2015-09-12 18:19] licaon-kter commented on #232
I guess the link to the release tag if a changelog is present, say: https://github.com/Neamar/KISS/releases/tag/v2.7.4

[2015-09-12 18:42] marcosporrasvargas commented on #236
Yeah, I was thinking a little bit more about that and it would be weird. It is better to ignore this post, sorry :) . Maybe it could be a new feature but in the future .

[2015-09-12 18:42] #236 closed

[2015-09-12 19:45] marcosporrasvargas opened #237 "The option 'unistall ' appears in preinstalled apps"
When I press and hold any app I can remove them from the history, view the app info or uninstall, the third option appears in preinstall apps like phone, camera, calculator, settings, etc. If I click the option the app begins the uninstallation and after some seconds the system crash or the system becomes lag for a while. I suggest that for this kind of apps the option 'uninstall' shouldn't appear

[2015-09-12 19:49] marcosporrasvargas commented on #237
Sorry for my 'bad' English, I don't speak very well the language :(

[2015-09-13 05:38] keeganxvx opened #238 "Feature Request: Hide History"
The default mode of having the history list is rather large and takes up the whole screen. An option to 'hide history' could hide the menu which would free up the screen to the the wallpaper, leaving just the search bar at the bottom. Selecting the Kiss logo to bring up the app drawer would stay as is.

[2015-09-13 05:49] keeganxvx commented on #235
Seconded

[2015-09-14 08:18] aqeeliz commented on #232
F-droid doesn't have any changelog page, I think. Though most projects have a 'changelog' link in their links sections (it doesn't seem to be available on web, but it's in their mobile app).

Few examples of those links:
- https://raw.githubusercontent.com/AntennaPod/AntennaPod/develop/CHANGELOG.md
- https://github.com/bitfireAT/davdroid/releases
- https://github.com/siacs/Conversations/blob/maste

[2015-09-14 12:35] lassiewoof opened #239 "List of application suggestion"
Hi,

In my opinion it would be useful if people could choose what apps to include in the main page of the launcher withouth depending on the history. This approach can lead to some benefits, the history in fact, doesn't need to be calculated and the icons appear always in the same position.
Everybody could select a list of apps and keep them under their fingers in the fastest way!

What do you thi

[2015-09-14 12:37] lassiewoof commented on #239
I mean, when a user long press an application from the application list he can choose the option "add to favourites" and then the main screen will contain only the favourite apps always in the same position.

[2015-09-14 13:02] Neamar commented on #238
#236 is a bit similar... but not exactly the same.

It would mean keeping an history, just not displaying it by default, just using it to sort results.

Have you tried the transparent theme?

[2015-09-14 13:04] Neamar commented on #237
Right! At least on my phone, it says "uninstall unsuccessful" -- which is better than a crash, but clearly not perfect.

[2015-09-14 13:21] Neamar commented on #235
This was something we had with Summon B, however it was really hard to maintain and in my opinion did not bring any interest -- the thumb has to move up to focus the search bar, then down to the keyboard and finally up for the first result.

Personally, I really like having the search bar at the bottom, and it's also a quick distinction between Google Now and KISS for instance ;)

[2015-09-14 13:21] #235 closed

[2015-09-14 14:00] Neamar commented on #239
Hum, interesting idea.

I thought about "pinning" an app in the kiss bar instead, could be a nice addition too.

If anyone is willing to give it a try ;)

[2015-09-14 14:09] lassiewoof commented on #239
Pinning in the bar could be nice, but the bar has limited space so a few icons will be visible and the bar is visible only when you press the logo, so this is not the fastest way to start an app. If you put all your favourite apps in the main screen you don't have restriction about the number and you can start them with a single click (very fast if the position is fixed...).

[2015-09-14 14:25] Neamar commented on #237
Fixed :) Thanks

[2015-09-14 14:43] #237 closed

[2015-09-14 14:47] Neamar commented on #232
I've updated https://github.com/Neamar/KISS/releases with the latest "prod" release.

I'll try to add new release as they come :)

[2015-09-14 14:48] #232 closed

[2015-09-14 14:49] Neamar commented on #196
@lassiewoof are you also using a Fairphone?

[2015-09-14 14:49] #169 closed

[2015-09-14 14:49] #198 closed

[2015-09-14 14:52] keeganxvx commented on #238
Yes, but it's still not very minimal looking IMO, having a large list as the main screen.

Keeping the history makes sense, and is needed to display most used apps on the 'drawer' menu, but the search menu should have the option to hide the history list above the bar.

[2015-09-14 14:59] Neamar commented on #209
See: http://stackoverflow.com/questions/14233330/replace-google-now-gesture

[2015-09-14 14:59] Neamar commented on #209
![2015-09-14 14 58 40](https://cloud.githubusercontent.com/assets/536844/9853044/f4cd9dfc-5b01-11e5-9d2a-b54625e780cd.png)

[2015-09-14 14:59] #209 closed

[2015-09-14 15:04] Neamar commented on #231
![2015-09-14 15 01 50](https://cloud.githubusercontent.com/assets/536844/9853116/551575cc-5b02-11e5-91ee-ffd1d21bdd34.png)

Fixed for the color.

Regarding the notification / navigation bar, i'll try to improve this...

[2015-09-14 15:05] #231 closed

[2015-09-14 15:36] Neamar commented on #231
![2015-09-14 15 35 52](https://cloud.githubusercontent.com/assets/536844/9854064/24c4be96-5b07-11e5-8ddc-f1b048acac30.png)

[2015-09-14 15:40] craftyguy commented on #231
Hey that looks pretty good, nice work. How can I buy y'all a beer?

[2015-09-14 15:41] #204 closed

[2015-09-14 15:44] Neamar commented on #220
@Sandoche any news?

[2015-09-15 00:15] DuncanLithgow opened #242 "Toggle active without me"
I'm seeing the toggles for Silent and Bluetooth seemingly acting by themselves. I haven't found a pattern for this but it's been going on for the month or so I've used kiss. I'd this a known bug on some configurations?

[2015-09-15 02:56] losingkeys commented on #157
Note to self: might need to explicitly declare that we intend to use 3rd party intents: http://stackoverflow.com/a/2743491

[2015-09-15 08:38] nmitsou commented on #207
hi, i also find this usefull.
is anyone working on it?
In my opinion swipe should also be used to change between history and list of apps.

[2015-09-15 08:42] kuroidoruido commented on #207
Currently I think no-one work on it.

I think a swipe to switch between history and list of app isn't useful because of the principle of KISS to do not search into all app.

[2015-09-15 12:05] Neamar commented on #242
Weird, that's the first time i hear about this behavior.

They turn on by themseleves?

[2015-09-15 13:56] gerroon opened #243 "Theme for Eink devices?"
Hi

I am trying to use this app on my Eink Android device. Everything is generally fine except that I can't see what I am typing. I am wondering if there could be a theme for eink devices which has better contrast, no animation and better text visibility (like bigger text etc)

thanks

[2015-09-15 14:16] DuncanLithgow commented on #242
Yes, they turn on by themselves. Also my phone jumps from the running app
list back to the kiss home screen.

I wonder if this could be something to do with my screen being over
sensitive on the right edge?

I'll turn off kiss for a while and see if anything else exhibits the same
behavior. It's just that I've never noticed it anywhere else in my UI.

I'll get back to this after a while, meanwhile

[2015-09-15 15:02] Neamar commented on #242
Well, if you want in the settings you can disable "Toggles" and see if this changes anything?

[2015-09-15 15:16] Neamar commented on #231
Hahah thanks :) Well that's a first, so unless you know of something easy let's just share a virtual beer :beer: and enjoy KISS together.

[2015-09-15 15:21] Neamar commented on #243
Wow! Amazing! Would you mind sharing a screenshot just to see the state as of now? I'm curious :)

Regarding your request... i don't own any eink device, so not sure i can debug :(

[2015-09-15 16:52] gerroon commented on #243
Here you go. I am using the dark theme but the light theme has the same issues.

![img_20150915_112954](https://cloud.githubusercontent.com/assets/8519469/9883514/23f85b96-5ba0-11e5-9cd9-9c8f8e8b74f2.jpg)

[2015-09-15 19:02] bitigchi opened #244 "Toggle for synchronisation"
Hello,

It would be useful to have a toggle for switching on/off synchronisation, since it is not included in the stock Android notification drawer.

Thanks in advance.

[2015-09-15 19:04] bitigchi opened #245 "Improve search within device settings"
Hello,

It would be nice to be able to search all entries within device settings, AFAIS, it is limited to certain toggles like Airplane mode etc.

Thanks in advance.

[2015-09-15 19:07] bitigchi opened #246 "Sluggish performance after many History entries"
Hello,

I am using a Moto G 2013. Currently when the history is populated, scrolling performance becomes laggy, and unresponsive. It would be nice to see this fixed.

Please indicate if any further info is needed about the issue.

Thanks in advance.

[2015-09-15 19:09] bitigchi opened #247 "Explanatory text for settings are unreadable with light themes"
Hello,

When using a theme other than the Dark Theme, explanatory text in settings are unreadable, because they do not change their colours, they are still displayed in light colour.

[2015-09-15 20:18] saveman71 commented on #247
Hi!

Duplicate of #231 which has been fixed on the beta channel. Should be on the main channel any day now!

Closing.

[2015-09-15 20:18] #247 closed

[2015-09-15 20:33] saveman71 commented on #245
They are so many entries within the device settings, don't you think it would actually clutter the search results?
Also, it would be needed to programmatically find all the settings entries on all android versions (the search menu only appeared after Android 5.0 if I'm not mistaken) and I don't know if it's possible. (cc @Neamar @Pluggi).

[2015-09-15 20:39] saveman71 commented on #243
Maybe related to #196? Thus completely unrelated to the fact of having an eink device?
Are you seeing something, or no text at all ?

[2015-09-15 20:57] saveman71 commented on #246
I can confirm the first scroll up is always a little laggy on my Nexus 4 and agree that that seems weird for a 25 item list.

[2015-09-15 22:45] gerroon commented on #243
@saveman71

It could be, because I see nothing at all. I presumed because it was an Eink device.

[2015-09-15 22:57] emersion opened #248 "Pixelated contact pictures border"
![screenshot_2015-09-07-23-16-10](https://cloud.githubusercontent.com/assets/506932/9892315/e0136a1a-5c0d-11e5-92d7-6a578b3812f9.png)

[2015-09-15 22:59] emersion opened #249 "Dark airplane icon on dark mode"
Other settings icons look Nice, but not this one.

![screenshot_2015-09-13-08-32-49](https://cloud.githubusercontent.com/assets/506932/9892330/084553c2-5c0e-11e5-9871-1d7c8e8ee198.png)

[2015-09-16 05:01] volnes commented on #246
+1

[2015-09-16 05:06] volnes opened #250 "Add "About""
Menu entry "About" with information:
- current version of app
- donate
- Wiki (or something)

[2015-09-16 07:50] Neamar commented on #245
There's a list, yes, see the constants on http://developer.android.com/reference/android/provider/Settings.html

The question is more: are they all useful? Not sure about this ;)

[2015-09-16 07:51] Neamar commented on #248
Yep, see #99

Still no idea how this can be fixed :(

Closing for now unless someone comes with an idea?

[2015-09-16 08:50] sandoche commented on #220
![placeholder48](https://cloud.githubusercontent.com/assets/3635348/9900385/b16fa09a-5c60-11e5-973c-f864e5eb36d3.png)
![placeholder64](https://cloud.githubusercontent.com/assets/3635348/9900386/b1897e66-5c60-11e5-82b2-3bebeaf0d8c8.png)

[2015-09-16 09:30] Neamar opened #251 "Play Store crash"
Reported on the Play Store for some Huawei devices:

[code]

[2015-09-16 09:35] #251 closed

[2015-09-16 14:00] lassiewoof commented on #246
This issue can be resolved implementing #239.

[2015-09-16 14:01] lassiewoof commented on #196
No, I use a Lenovo s660

[2015-09-16 15:57] emersion commented on #248
Can't you fix it on more recent versions of Android and fallback to the current pixelated picture on Android 2?

[2015-09-16 20:15] MightyCreak opened #252 "Task bar is transparent and unreadable"
On a Nexus 5, the "task bar" (where the clock, the battery, the network, etc. are displayed) background is transparent and thus unreadable.

![screenshot_2015-09-16-16-11-42](https://cloud.githubusercontent.com/assets/6382548/9917793/93623cee-5c91-11e5-8e00-5fc4ade77ffb.png)

[2015-09-17 04:32] CanineCayote commented on #245
I would love to have a autorotate toggle

[2015-09-17 08:00] saveman71 opened #253 "Automatically add newly installed apps to history"
Hello,

When I install an app on the play store, it would be great to add it to the history so that even if I tap the open button on the play store once it is installed, it will appear in the history.
That allows going directly to kiss and find the newly installed app without going to the play store too, allowing to directly find the app I would like to launch since I just installed it.

I believe

[2015-09-17 08:53] Neamar commented on #196
Damn, this is a lot of devices...

Let's try something else.

On device settings, go to Developer Options and enable "Show layout bounds".

Then send a new KISS screenshot ;)

You should get something like this:

![2015-09-17 08 53 21](https://cloud.githubusercontent.com/assets/536844/9929022/641898ea-5d2a-11e5-9c09-898c664219e1.png)

[2015-09-17 08:54] Neamar commented on #196
Other question too: before typing anything, are you able to see the empty gray placeholder ("Search app, contacts, ..." in my previous screenshot)

[2015-09-17 09:29] Neamar commented on #220
Here we go:

![2015-09-17 08 56 19](https://cloud.githubusercontent.com/assets/536844/9929786/5a945dae-5d2f-11e5-8024-7b09ce28872a.png)
![2015-09-17 08 57 44](https://cloud.githubusercontent.com/assets/536844/9929785/5a90ad94-5d2f-11e5-9146-feed9457b91b.png)

[2015-09-17 09:33] Neamar commented on #249
Yep. On a previous version, I applied a tinting depending on the theme. However, this led to some really uglyicons for "Settings: Application" so I reverted this. And I have no good idea on how to fix this ;)

[2015-09-17 15:41] lassiewoof commented on #196
Sorry, my shitty ROM doesn't include the useful option "Show layout bounds".
Second question: I don't see any empty gray placeholder!

[2015-09-17 21:13] MightyCreak commented on #252
The taskbar was green at version 2.6.5, its been changed when I updated to 2.7.x..

[2015-09-17 21:16] MightyCreak opened #255 "Use other search engines than Google"
I don't use Google anymore, I prefer DuckDuckGo, but searches in KISS are only using the Google search engine, it would be very interesting to have more choices.

[2015-09-17 21:19] MightyCreak opened #256 "Don't change communication type (e.g. SMS, Hangout) when sending a text message"
When I click on "send a text message" on a contact line, it defaults to SMS, but for some contacts I only use a Hangout text.

When I launch Hangout and click on a contact, it remembers the preferred way of communication (Hangout or SMS).

[2015-09-18 11:27] newluck77 commented on #196
@Neamar Here is the screenshot with layout bounds turned on:
![screenshot_2015-09-18-13-20-46](https://cloud.githubusercontent.com/assets/8948865/9958291/b2662c4a-5e08-11e5-83e2-92f00bf751ec.png)

I also don't see that gray placeholder.

PS.: According to http://www.gsmarena.com/lenovo_s660-6157.php the Lenovo S660 uses a Mediatek MT6582M chip, whilst the Fairphone 1 uses a MT6589. So perhaps it's

[2015-09-18 11:40] #220 closed

[2015-09-18 12:13] Neamar commented on #196
that's really weird. Looks like there is no EditText at all...

I tried a quick fix, but really not sure it will help. Honestly, not a lot of idea.

This occurs *every* time?

[2015-09-18 12:50] Longer opened #257 "Feature request: Add optional swipe for phones (call/sms)"
Please, add swipe as in https://play.google.com/store/apps/details?id=com.modoohut.dialer Very useful feature.

Swipe right for call:
http://c14.eoemarket.net/app0/60/60694/screen/2020198.jpeg
Swipe left for sms.

[2015-09-18 13:02] newluck77 commented on #196
Yeah, this happens every time.

Shall I try it? Could you provide me with an apk?

[2015-09-18 13:12] lassiewoof commented on #196
Happens everytime to me too. I have never seen the placeholder on my device!

[2015-09-18 13:16] marcosporrasvargas commented on #175
@neamar
I already have the  bug with the apps that are in my SD card but it just happens at random times. I found a "kind" of solution to see the apps again ( it works at least for me)
1. Go to Kiss Settings
2. Go to Providers Selection
3. Activate and then desactivate ( or vice versa) Settings toggle

When I do that the apps that were missing appear again

[2015-09-18 13:18] marcosporrasvargas commented on #175
Post data: My device is Huawei Ascend G510-0251. Android 4.1.1. No root .

[2015-09-18 17:00] ilmich commented on #245
In my opinion, at least Display, Memory and Print settings could be useful

[2015-09-18 18:37] marcosporrasvargas commented on #207
About the second page for widgets, adding this feature the Launcher should add an option to deactivate/activate this second page, in case the user doesn't want to spend more ram loading widgets and just want to have the normal user interface

[2015-09-18 20:36] nk404 opened #259 "KISS Launcher v2.9.3 makes phone unusable after locking it's screen on android 4.0.4"
I'm using KISS launcher `v2.9.3` and after my screen lock it's self, i'm unable to do anything with it. I'm unable to unlock it, i'm unable to interact with any normal way so i have to take out my battery and turn on the phone again.

I use it on Android 4.0.4. I reverted back to `v2.8.0` (i use builds from F-Droid) and everything is working fine now.

I'm not sure how to get any catlog data for t

[2015-09-19 13:56] Neamar commented on #259
Outch, this looks painful.

You get no ANR, no crash?

Indeed, there was a fix for Android 4.3 devices running into issues with OpenGL (#251).

Are you able to compile KISS? Would you mind trying reverting this specific 0597ded8740f4b commit to see if it works better?

Sorry about this, was hoping my fix would work but had no 4.0.3 device available :(

[2015-09-19 22:13] nk404 commented on #259
No anr, no crash. I'm fully unable to unlock screen so maybe something pops up after a while however that is just thinking out loud without any proof.

I'm not able to compile kiss. I'm user/tester so i gathered no knowledge to set up android studio plus my os is freebsd so i believe there would be extra troubles.

I will try to put catlog into some use, maybe i could get some info from the device

[2015-09-19 23:57] gerroon opened #260 "Document search?"
Hi

it would be awesome if it is able to search for documents with certain extensions  (like ,*.pdf, *.mp3 etc) in internal and external sd.

thanks

[2015-09-20 08:53] Neamar commented on #259
Ok, if you manage to get a catlog that would be very helpful!

Meanwhile i'll also try to find a 4.0.4 device.

On Sun, Sep 20, 2015 at 12:14 AM nk404 <notifications@github.com> wrote:

[2015-09-21 02:12] gerroon opened #261 "FR: Ignore dashes and such"
Hi

It would be nice if KISS could ignore things like dashes in the name search. For example I am searching for F-droid. I have to type f- to bring it but it could be just fd as well.

[2015-09-21 21:57] revuwa commented on #157
This issue seems to be related, too: https://github.com/Neamar/KISS/issues/255

[2015-09-21 21:59] revuwa commented on #196
Mee too, (using AOSP 4.2.2 @ 800x480 pixel resolution).

[2015-09-22 07:59] ThePreviousOne opened #263 "change text colour manually"
I am using transparent theme with a mostly white background https://github.com/Neamar/KISS/issues/231 addressed a similar issue but, I don't think this would be hard to implement. Then again, I don't do Android dev so what do I know.

[2015-09-22 10:44] newluck77 commented on #196
@revuwa: What is your device, and which chip set does it use? Is it also a Mediatek chip?

[2015-09-22 11:55] Neamar commented on #196
Good news folks, looks like someone I know has the same bug... i'll be able to steal the device and see what's going on soon!

[2015-09-22 21:44] revuwa commented on #196
@newluck77: It's an i9100 with an Exynos 4210 chipset;
full specs: https://en.wikipedia.org/wiki/Samsung_Galaxy_S_II
@Neamar: Thanks in advance for any investigation on that behavior.

[2015-09-22 21:48] revuwa opened #264 "[theme request] combination of dark- and transparent theme"
I would love to see a combination of the 'Dark theme' (with it's black menu & search bar):
![darktheme](https://cloud.githubusercontent.com/assets/7300276/10032564/14e2f6a4-6184-11e5-8803-5241115e0477.png)

and the 'Transparent theme' (where I could see my [temporarily disabled] wallpaper):
![transparenttheme](https://cloud.githubusercontent.com/assets/7300276/10032566/1bd1b554-6184-11e5-934c-8922

[2015-09-22 21:52] revuwa commented on #238
I would love such a feature, too. If this would be an optional feature in the future, could this please automatically disable the following standard introduction screen, too (to get an unrestricted view to the wallpaper instead)?
![initinfo](https://cloud.githubusercontent.com/assets/7300276/10032625/8b6a65be-6184-11e5-9c5e-923e1440394b.png)

I have, but the glaring white parts burning in my eyes,

[2015-09-22 21:56] revuwa opened #265 "[feature request] automation of the hibernation [root] feature to save battery"
Thanks so much for implementing the hibernate feature (https://github.com/Neamar/KISS/pull/190); and by the way, thanks a lot for your enthusiasm to make and provide that great launcher app itself!

What do you think of a kind of (selectable) apps auto hibernation, like battery saving tools work?
What I mean exactly is perfectly wrote down here: http://gs5.wonderhowto.com/how-to/automatically-hibe

[2015-09-23 22:00] saveman71 commented on #256
Unfortunately I believe this has to do with  the way Hangouts treats the signal sent by KISS when tapping on the message button. Unless there is a way to specifically say to Hangouts to keep the current way of communication, I don't think a fix is possible.
(I use Hangouts and noticed the inconvenience too)

[2015-09-23 23:52] MightyCreak commented on #256
You're right, I tried the "send text" button in Contacts app for a contact I previously contacted usong Hangout, and it switched the mode to regular SMS.

So it's apparently a bug on Hangout's plate.

[2015-09-24 19:19] alexander255 commented on #261
:+1:
I could definitely submit an update for the `StringNormalizer` class for this!

Instead of excluding some individual characters from search, it would probably be smarter to exclude some additional unicode character categories instead. (The current code already drops all spacing and non-spacing combining characters during normalization to strip diaereses, acutes and similar character modifiers

[2015-09-24 20:11] Neamar commented on #196
I'll work on this tomrrow morning, hope to get a patch online in the day on the beta channel.

[2015-09-24 20:15] Neamar commented on #261
I think it's a good idea, although it may require more than fine tuning the StringNormalizer library.

Today, if I search with special characters i get this:

Note the "ë" has been converted to "e", since Result only have access to the normalized query. This can be even more problematic when typing a phone number (some country like to format their number with dashes).

So---ok for an update on the

[2015-09-24 20:23] Neamar commented on #261
Forgot the image:

![2015-09-24 20 13 31](https://cloud.githubusercontent.com/assets/536844/10085704/ebe8d24a-630a-11e5-9430-07a3ed1cee1b.png)

[2015-09-24 20:26] alexander255 commented on #261
Since dashes in phone numbers are purely cosmetic (classic phone dial-pads only have `/[0-9#*]+/`), I don't see the issue here.

Based on the image you just posed I think the main problem is that "Search for"-style items show (and probably also use) the normalized version of whatever the user has entered into the search box (instead of the original text).

[2015-09-24 20:28] Neamar commented on #261
You're right for the phone number.

You're also right, search display AND use the normalized version, which is the problem :)

[2015-09-24 20:35] DuncanLithgow commented on #242
This issue doesn't seem to have anything to do with kiss

[2015-09-24 20:35] #242 closed

[2015-09-25 12:36] Neamar commented on #196
Alright, some news...

* Installing freshly from Android Studio displays the EditText
* Reinstalling from the PlayStore hide the Edittext

And indeed, checking out v2.9.3 on Android Studio yields the same bug (no edittext).

Turns out it was fixed in https://github.com/Neamar/KISS/commit/ce5e53ae111ba2ed358d0d5adf8c39134c92f366

Publishing now on the Play Store beta channel, tell me if it fix the

[2015-09-25 22:45] irregularisnotrandom opened #266 "it does not reespect orientation"
Hi

I open it in landscape but it runs in portrait mode, pretty disorienting.

I am on CM 11 Android 4.4.4

Thanks

[2015-09-25 23:32] alexander255 commented on #266
@Neamar
Just some feedback:
I'm using *App Settings* (XPosed module) on my phone and have been running KISS in "Force Auto-Rotation" mode pretty much since Day 1.
Maybe this could be a new on-by-default setting in the *UI Settings*: *Force portrait mode* – *Always set screen orientation to portrait mode* ?

What I think should happen code-wise:

 1. Add a new *Force portrait mode* preference that

[2015-09-26 02:37] gerroon opened #267 "FR: Custom launcher list"
Hi

It would be awesome if we could have a separate listing for custom or favorite apps.

It would work like this. The user swipes to left and we would have a listing there. The user can add to or remove from this list. The user can add apps to this list from the main menu by long click add to favs. The user can then swipe right to get back to the default listing.

The user can also set it to be t

[2015-09-26 08:18] Neamar commented on #264
OKay, so a simple black textbox?

An important question then is results' text color.

Currently, transparent theme displays text for results in white, but this leads to poor results on white-y wallpaper. So maybe the black transparent theme should use black text?

[2015-09-26 08:22] Neamar commented on #256
Yup. Actually I think Hangouts see this as a feature rather than a bug.

Current code (from KISS) to start messaging app is here: https://github.com/Neamar/KISS/blob/45032cb1ac5a1443c3f36b2dc658b9e5657634a0/app/src/main/java/fr/neamar/kiss/result/ContactResult.java#L183

Relevant lines being:

[code]

So Hangouts registered for `sms:` intents, and upon reception automatically switches to SMS mode-

[2015-09-26 08:22] #256 closed

[2015-09-26 08:25] Neamar commented on #260
Hi @gerroon,

Although I understand the need for such a feature, this would be really more heavy and probably not as fast as KISS currently is.

I thinks this is a search-case probably best to leave to the internal Google Search engine ;)

[2015-09-26 08:25] #260 closed

[2015-09-26 09:34] lassiewoof commented on #196
It works! Thanks a lot! Is it possible to disable the blinking cursor?

[2015-09-26 13:02] Neamar commented on #257
Button already have the same behavior, and are easier to use than a swipe I believe

[2015-09-26 13:03] #257 closed

[2015-09-26 13:05] Neamar commented on #266
@alexander255 your solution can work, right. Do you think you can make a PR of it?

However, do you know a lot of launcher handling landscape orietnation? Most of them are portrait only.

[2015-09-26 13:07] Neamar commented on #265
It seems to be this would be a whole new app, since it would require monitoring open apps, hibernating them once again after use, handling root / no root users.

Better to leave this to apps which already handle this kind of behavior and maintain a simpler KISS ;)

[2015-09-26 13:07] #265 closed

[2015-09-26 13:08] Neamar commented on #263
Instead of letting the user select color, i'd rather go with the solution described in #264 to fix KISS on white background ;)

[2015-09-26 13:08] #263 closed

[2015-09-26 13:10] Neamar commented on #261
Alright, so let's go with the "remove dashes" solution for now -- @alexander255 can you update your string normalizer?

I'll take care of the Search displaying invalid query part.

[2015-09-26 13:22] Neamar commented on #255
Yep, kinda duplicate #157, closing this one.

[2015-09-26 13:22] #255 closed

[2015-09-26 13:32] Neamar commented on #249
(same problem for airplane, connectivity and battery icons)

![setting_airplane](https://cloud.githubusercontent.com/assets/536844/10117789/be08490a-6463-11e5-8364-51afd884a417.png)
![setting_battery](https://cloud.githubusercontent.com/assets/536844/10117787/be04bd62-6463-11e5-8577-df0a475b2e7c.png)
![toggle_wifi](https://cloud.githubusercontent.com/assets/536844/10117788/be06eaf6-6463-11e5-9162-

[2015-09-26 13:45] Neamar commented on #248
I don't think so :(

[2015-09-26 13:45] #248 closed

[2015-09-26 15:04] alexander255 commented on #266
I'll write the code to implement this (most of the work has already been done anyways (-; ).
Once #268 lands I'll make a pull-request!

[2015-09-26 15:12] alexander255 commented on #266
I know of at least `ADW.Launcher` (the only icon-based launcher I've ever loved) that natively supported landscape mode (after enabling it in its settings).
IIRC it did this by re-arranging the icon (while keeping their order) when the phone was in landscape mode.
You are right in that most stock launchers don't support it through.

[2015-09-26 15:48] ti-wa commented on #250
+1
*changelog

[2015-09-26 20:59] marcosporrasvargas commented on #264
I think that the Launcher should permit us to choose the color of the text, so we can adjust the theme and color as we want. An option to choose the theme and another option to choose the text color

[2015-09-26 21:36] alexander255 opened #269 "Make DataHandler an Android service"
Currently KISS will terminate when the system is somewhat low on memory. Since KISS is usually the system launcher it will generally be the last background activity killed. Once the KISS `.MainActivity` is killed it has to rescan all data sources on its next start-up.

While the current situation isn't too bad it would, I think, be better to migrate KISS' `DataHandler` to an Android service to red

[2015-09-26 23:55] revuwa commented on #265
OK, thanks for answering my question.

[2015-09-26 23:59] revuwa commented on #196
Also thanks from my side, because it works on my device (i9100), too.

[2015-09-27 00:26] revuwa opened #270 "[bug?] intro-screen shortly appears every time I switch back to the launcher"
I have a slightly misbehaviour with the intro-screen:
![initinfo](https://cloud.githubusercontent.com/assets/7300276/10032625/8b6a65be-6184-11e5-9c5e-923e1440394b.png)

which appears every time, I switch back (to the launcher) from any application for a wink (< 1s) before the regular KISS screen (with my recent apps) is shown. Maybe this could be linked up with my non-high-end device (i9100 @ 1 GB

[2015-09-27 00:51] revuwa commented on #264
The textbox + the (settings) menu, please.

I thought on that grey one I suggested in the last ('Dark transparent theme') screenshot, (which is the same as in the 'Dark theme').

Hmm. For me black text in the black transparent theme wouldn't be that great - especially because I use a very black wallpaper...

Maybe this could be the way to be wallpaper-color independent.
IMHO this code could be use

[2015-09-27 20:13] newluck77 commented on #196
@Neamar KUDOS This is great!!! :D Thank you so much for looking into this! In the latest F-Droid build (2.9.4) I can see what I've typed! :D

[2015-09-28 08:50] saveman71 commented on #196
Great! Good job everybody especially @neamar for the debugging! I guess we can close this long issue now ;)

[2015-09-28 09:48] volnes commented on #212
@Neamar Any news about "no icons mode", feature?

[2015-09-28 13:50] Neamar commented on #270
Are you using KISS as a launcher?

The behavior you describe (displaying the empty screen after clearing all apps) could occur if KISS got killed, which would happen if it's not the system launcher.

[2015-09-28 14:18] alexander255 commented on #270
Probably a duplicate of #269 ;-)

[2015-09-28 15:33] JossMarley commented on #217
Any news about this issue?

[2015-09-28 19:25] revuwa commented on #270
Yes, but as an user app. (I had deleted the system launcher app before, to have only one launcher).

Oh boy, it's embarrassing... "if KISS got killed" was the hint I need.
Turned out, I had enabled the Setting(s) → Developer options → Don't keep activities [X]
So indeed KISS got killed every time, it lost the focus.

Mea culpa, and sorry for the trouble; IMHO this issue could be closed.

[2015-09-28 19:25] #270 closed

[2015-09-28 22:59] TheLastProject opened #272 "Add to contacts"
When entering a phone number, a call and a search option appear. It would seem useful to me to have an option to create a new contact for the phone number you are entering. As far as I am aware, the stock dialer has an activity which can be called to add a phone number, giving you a list of contacts and a new contact button.

[2015-09-29 06:41] Neamar commented on #270
Haha! Problem solved then ;-)

On Mon, Sep 28, 2015, 21:25 revuwa <notifications@github.com> wrote:

[2015-09-29 14:18] aeuii commented on #199
Hi, thanks for the enhancement. I think that now it would make sense to automatically show the keyboard again, when pressing the circle for the second time. What do you think?

[2015-09-29 14:23] saveman71 commented on #199
Yeah it makes sense to me too. Reopening for visibility.

[2015-09-29 14:32] ghost opened #273 "Animated keyboard covering the app list"
I have a problem with the animated keyboard from Android L that show up (slides) automatically from the bottom of the screen.

When KISS Launcher is started, the keyboard slides up and hides a lower portion of the app list. Once it's up, the list adjusts and jumps to match the keyboards position.

The problem is that during a few hundred milliseconds when the keyboard is appearing, I'm able to loc

[2015-09-29 15:55] joshsurber opened #274 "Feature request: T9 keyboard"
An option to use t9 could make searching faster and should not use much more in the way of resources.

[2015-09-29 18:54] #261 closed

[2015-09-29 18:55] Neamar commented on #261
Fixed with #268

[2015-09-29 20:50] irregularisnotrandom opened #275 "long click home button search list comes up empty eventually"
Hi
I am not sure what that functon is called but essentially one could assign search apps to long click home button , so i aassigned KISS to it. When i long press KISS opens but the list empty and it takes a whole to fill it however when i just run KISS directly that is not the case.

I am on CM 11 Android kitkat

[2015-09-29 21:19] alexander255 commented on #266
PR ready :-)

[2015-09-29 21:48] Pluggi commented on #275
This seems related to #187

[2015-09-29 22:39] ilmich commented on #217
@JossMarley I've just now pushed some code for review ;)

[2015-09-29 22:45] irregularisnotrandom commented on #187
Maybe you can check quickdroid, that is very snappy as a search tool

[2015-09-30 13:13] #266 closed

[2015-10-03 14:43] Neamar commented on #274
Hum, actually i think if you want to use t9 you should get a t9 keyboard on the Store ;)

I think Kiss should not embed its own keyboard, but rather use the system one. This make customization easier ;)

[2015-10-03 14:43] #274 closed

[2015-10-03 14:54] Neamar commented on #272
Nice idea :)

[2015-10-03 15:05] #136 closed

[2015-10-03 15:05] #272 closed

[2015-10-03 15:59] joshsurber commented on #274
Perhaps not a keyboard but tell Android to open the numeric keypad and process as t9. Allows proper keyboard for typing system-wide but the larger numeric keys are more efficient for use in the context kiss would use them in. Similar to address book search in the Android default dialer.  I'm not a Java programmer but I know this would only be semi-trivial in JavaScript.

[2015-10-03 16:10] Neamar opened #281 "NullPointerException on Play Store"
[code]

[2015-10-03 16:10] #281 closed

[2015-10-03 16:41] Neamar commented on #217
Yep, @ilmich is doing some good progress on this... will probably be in the next release; )

[2015-10-03 16:45] Neamar commented on #212
No news, i'll add a label for this :)

[2015-10-03 16:45] Neamar commented on #244
IT will be on the next release :)

[2015-10-03 16:45] #244 closed

[2015-10-03 20:47] emersion opened #282 "Fuzzy search"
Implement [fuzzy search](https://en.wikipedia.org/wiki/Approximate_string_matching) - just like the Command Palette in Sublime Text. For instance, display Youtube when searching for yt, display Twitter when searching for twttr, and so on. Useful when there is a typo in the search query.

[2015-10-03 20:52] emersion commented on #201
Fixed?

[2015-10-04 12:29] Neamar commented on #201
Yes, fixed, will be part of next release :)

[2015-10-06 06:05] jimbo1qaz commented on #187
Could you cache an app list, and perform background scanning to detect changes in the app list?

[2015-10-06 07:43] nmitsou commented on #212
Just a question: in AppResults.java, the icon is extracted on every getDrawable call.
Shouldn't this happen only once, on constructor?

[2015-10-09 08:06] rdarricau opened #285 "The search is a bit fucked up"
Real problem in the search :

![Search](http://i.imgur.com/VZvFKcg.png)

Incoherence in the indexation of items.

![Search for l](http://i.imgur.com/RuTIcin.png)
![Search for li](http://i.imgur.com/iGWT8hu.png)

[2015-10-09 23:35] nk404 commented on #259
In the meantime, while i actually do something about logcat, it could be worth mentioning that `v2.10.1` seems to work on my android 4.0.4. I got update from F-Droid.

[2015-10-10 08:12] AltNico opened #286 "Respect rotation lock"
If the user disables the preference "Force Potrait Mode" but forces potrait mode on system level, Kiss should act like if the in-app preference is active.

Currently, it ignores the system level and rotates to landscape.

[2015-10-10 10:25] Neamar commented on #259
That's a good news... although I'd like to understand what was happening
before.

On Sat, Oct 10, 2015 at 1:35 AM nk404 <notifications@github.com> wrote:

[2015-10-10 13:54] alexander255 commented on #286
This should be fixed in #287. :-)

Sorry for the inconvenience!

[2015-10-11 02:30] MaDill opened #289 "autohide history"
I like the fast access to the apps and contacts with this launcher. For a next version I have some suggestions.

One is to not show the history by default. Show it only when clicking in the searchbar. With the new free space allow the user to add some of the android widgets.

The other one is to add an option where to to show the searchbar. Default is botttom but also top should be available.

[2015-10-12 08:43] #286 closed

[2015-10-12 09:46] Neamar commented on #175
This isuse was probably fixed by #291, feel free to reopen if the bug occurs again on KISS v2.10.2 and later

[2015-10-12 09:46] #175 closed

[2015-10-12 09:47] Neamar commented on #253
Fixed, thanks @nmitsou!

[2015-10-12 09:47] #253 closed

[2015-10-12 11:50] saveman71 commented on #253
:+1:

[2015-10-13 20:03] nmitsou commented on #250
I could add the "about" and "changelog" functionality but I need to know first if the owners are interested in filling the contents... :-)

[2015-10-14 17:26] nk404 commented on #259
I tried again to reproduce it however i'm unable to do so. I believe that i have issues with my rom. I will inspect further more.

[2015-10-18 04:03] gerroon opened #295 "App is slower with the latest update"
Hi

I feel like the app list show up time is 3x slower with the latest uptime, it does not matter if I am using it as search provider or home replacement. I have bunch of devices and it is steadily slow on all of them.

Going to home is fast but showing up the app list is sloooooooowwwwwwwwwwww

[2015-10-18 10:26] Pluggi commented on #250
I've always found this particularly useless in Android apps…

[2015-10-18 11:52] alexander255 commented on #295
Could you determine the version number of the last version that wasn't "slow" for you?
(The [version archive on F-Droid](https://f-droid.org/repository/browse/?fdid=fr.neamar.kiss) might be helpful for this.)

[2015-10-18 15:00] losingkeys commented on #289
Imo this conflicts with the 'KISS' intention of this app. If you want widgets you can always use another launcher and bind this launcher to "long press home button". That way you get the best of both worlds :)

[2015-10-18 15:34] gerroon commented on #295
2.10.1 from Fdroid

[2015-10-18 20:51] alexander255 commented on #295
2.10.1 is the first version that sucks or the last version that works correctly?

Assuming the former (that 2.10.* is the first broken version): There were unfortunately no major changes between v2.10.1 and v2.9.4 that are very likely to be the cause of this behaviour.

Are you willing to help debug this issue? Are you able to compile KISS from source?
If not: Would you be willing to install some

[2015-10-18 21:33] saveman71 commented on #289
Agreed. This widgets issue has already been discussed many times now, and it was concluded that this was not the focus of this launcher. I'd suggest you try @losingkeys' solution.
Closing, but if you still have any comments, please post them!

[2015-10-18 21:33] #289 closed

[2015-10-18 21:51] gerroon commented on #295
2.10.1 feels slower when it comes to listing apps.

I can try helping out with debugging. I cant compile android stuff but I can help with logs etc

[2015-10-19 13:24] Neamar commented on #295
Hi @gerroon, v2.10.1 is the latest version. Do you remember the last stable version you had?

Thanks!

[2015-10-19 13:28] Neamar commented on #250
Hi!

I'm not sure I like the donate option -- as the primary developer of the app, i'm doing this mostly for myself as a side project, not sure I want to put money in the equation :(

Current version of the app can be found on Android System (or simple typing "applications" into KISS ;))

Now, a wiki could be useful to give some non-obvious tips (for instance, settings a default phone number on a

[2015-10-19 14:09] Neamar commented on #259
Ok! I'll close for now, if you find anything feel free to reopen.

[2015-10-19 14:09] #259 closed

[2015-10-19 14:24] gerroon commented on #295
Hi

I think that the first version that I installed seemed more responsive, probably it was the first version on Fdroid.

[2015-10-19 15:52] alexander255 commented on #295
@gerroon So v2.9.4 is the last version that worked well??
Please say yes or no, since I'm still not sure based on responses ;-)

[2015-10-19 16:53] gerroon commented on #295
sorry I can't be more precise because I was not tracking version numbers.

Version 2.9.3 - Added on 2015-09-18 seems like the first version that was available. So it was either 2.9. or 2.9.4

[2015-10-19 18:18] alexander255 commented on #295
So you where using some very old version for ages then someday decided to update and were like "OMG this is slow". Did I understand you correctly?

Device type should not matter as long as the devices run Android 2.3.3+ (or something compatible).

[2015-10-19 19:56] nmitsou commented on #250
I guess it is not very intuitive to search for the version in the application list :-)
Since it is not too much trouble to add / support it, I vote for it.
I find changelog useful too...

[2015-10-19 20:34] gerroon commented on #295
no ;)

I use whatever Fdroid presents. First version was available on 2015-09-18 on Fdroid, so that is the one I used.

The Fdroid had an update later therefor I updated to the latest version.

[2015-10-19 20:45] alexander255 commented on #295
OK: So you installed *KISS* `2.9.3` from F-Droid and decided to use it. Some time later (a few days ago) you updated to the latest version (`2.10.1`) and found that it's slower than `2.9.3`. Then you reported this bug. Correct?

Assuming that we're finally on the same page:
Could you test the `2.9.4` version of *KISS* (installable directly from the F-Droid app, just scroll down on the application

[2015-10-19 22:38] gerroon commented on #295
Yes we are on the same page.

I will test it and let you know.

[2015-10-20 08:46] Neamar commented on #295
Good! Keep us in the loop :)

Just one last point... you say you don't use "contacts": does this means you're only searching in apps?

[2015-10-20 13:15] Neamar commented on #250
This may feel dumb to say, but the app is limited in size.

Adding the changelog would probably increase the size by as much as 40%.
Or, it could be downloaded, but I have to say I like the fact that KISS launcher is currently not using any Internet permission, which is a strong way of saying "your data is yours, we don't send it anywhere else".

[2015-10-20 14:10] gerroon commented on #295
Yes I only use it to search apps and I also enable root mode.

[2015-10-20 14:11] Neamar commented on #295
Ok. Root mode should not change anything, since it only triggers when displaying the popup menu.

Slow search in apps, however, is something I haven't heard of as of yet. Please let us know if you manage to test previous version!

[2015-10-20 16:05] gerroon commented on #295
@Neamar

The issue is like this, I just want to articulate once more hopefully much more clear this time.

On all off my devices KISS acts sporadically when it comes to listing the previously used apps history when I drop to KISS screen (like pressing home button or using as search provider). Sometimes the app list shows up right away sometimes I wait  like 8 secs. And this performance issue is vi

[2015-10-22 12:42] saveman71 commented on #295
Oh, so you mean the loading time while kiss is indexing? With a spinner instead of the green kiss icon? It can be fixed by implementing #269 maybe...
Are your devices generally low on memory?

[2015-10-22 16:06] gerroon commented on #295
@saveman71
Yeah that sounds more like what I am experiencing on my devices.

My devices vary, I have a high end devices that has the same issue(still faster than the other ones), and I have somewhat lower resource eink device which suffers worst sometimes.

If I use it frequently, I do not experience as much. It seems like I get that lag when I have not used it more than couple hours.

[2015-10-22 18:07] saveman71 commented on #295
@gerroon So that's the problem. This the way it is since the beginning if I remember correctly. But I don't have this problem having it as the default launcher on my Nexus 4, except after a reboot which seems "normal".

Then, I am no Android developer, so I'll leave @Neamar and @alexander255 the task of finding an appropriate solution ;)

[2015-10-22 18:46] alexander255 commented on #295
I guess addressing #269 is an unavoidable now. (No more excuses! (-: ) I'll look into it and provide some test version once ready.

[2015-10-24 17:57] JossMarley opened #297 "Replace main screen"
IMHO the main screen should be replaced with a list of favourite apps, contacts etc. It is not useful to see an application in the first position of the main screen only because it is the most recent app to have been launched. Favourite apps is the way.

Apps in the green bar after pressing the circle are also not useful, at least to me. I NEVER press them.

[2015-10-24 18:04] JossMarley commented on #297
I always start the wrong app or call the wrong person because the position of the icons is always different. It is very annoying!

[2015-10-26 21:52] rxjx commented on #245
The GPS toggle is the only one missing for me.

[2015-10-27 00:38] losingkeys commented on #297
-1. I think this is the _most_ useful feature of this launcher. Other than apps that were recently updated muddying up the list I find this useful. I find that I usually launch a few apps depend on the time of day or what I'm doing. Also who I'm talking to changes depending on events and such, so having recents nearby is useful.

What does everyone else think?

Maybe there could be an option? Show

[2015-10-27 15:34] #297 closed

[2015-10-27 15:36] JossMarley commented on #239
Yes this is EXACTLY what I would like to have! I always start the wrong app or call the wrong person because the list in main screen is not fixed! Favourite apps is the way!

[2015-10-28 22:19] losingkeys opened #298 "English translation broken on HEAD?"
When rebasing I noticed `.../values/strings.xml` had some non-english words in it. Is this the right file for the english translations? At first I thought I'd rebased wrong, but it if you grab the latest code it's [there](https://github.com/Neamar/KISS/blob/d776a66f91e3541dfe19364c995ac6ce6fbb1be1/app/src/main/res/values/strings.xml#L5-L31) too.

[2015-10-28 22:25] nmitsou commented on #297
"Maybe there could be an option? Show a) recents b) most launched c) choose my own list (or something)"
Options are always nice! As long as the user doesn't get confused by them...

[2015-10-28 22:43] losingkeys opened #299 "Apps lists (recents and all apps) should be reloaded when apps are disabled/enabled"
Currently disabled apps stay in the list but you can't launch them when they're disabled. Uninstalling another app or otherwise triggering a refresh removes the disabled app from the list.

[2015-10-29 15:35] Neamar commented on #297
Not sure this would be a good option. Just like you said, this is the main feature of the launcher, not sure it should change.

However, we can add settings to disable adding into history updated apps / missed calls / received SMS.

[2015-10-29 15:36] Neamar commented on #298
That's a mistake, seems to come from @weblate :\

The best thing to do would be to revert this change, which is probably a bad copy paste.

[2015-10-29 16:36] Neamar commented on #245
Sadly GPS toggle can't be implemented due to internal Android limitations :(

[2015-10-29 16:37] Neamar commented on #295
Yes, #269 would be really good :)

[2015-10-29 17:00] Neamar commented on #299
What do you mean by "disable"?

[2015-10-29 17:12] alexander255 commented on #245
Just a note: A GPS toggle can easily be implemented on rooted devices using the `settings` utility:

Disable:

    su -c "settings put secure location_providers_allowed network"

Enable:

    su -c "settings put secure location_providers_allowed gps,network"

[2015-10-29 17:15] alexander255 commented on #299
He's probably talking about #190 ?

[2015-10-29 17:38] rxjx commented on #245
I think one could bring up the location settings page at least even if a direct toggles may not be possible. Even that would be useful.

[2015-10-29 21:53] losingkeys commented on #299
#190 doesn't look like it, though I'm bot faimilar with "hibernating" Android apps, so maybe? On non-rooted devices there are sometimes apps you can't uninstall... but cab disable. See the screenshot below. I think they don't run after being disabled, but still take up space. Anyway trying to launch one fails with the "Whoops..." toast message. They don't show up in the launcher unless you launch

[2015-10-29 22:24] alexander255 commented on #299
Oh, I just read the source of #190 and realized that the *Hiberate* button in KISS calls `am force-stop …` instead of `pm disable …`. In other words: Selecting *Hiberate* from the application's menu (while in root mode) will do the same thing as opening its *App-Info* and pressing the *Force Stop* button. (I was a bit misinformed, sorry!)

However I think I understand your issue now:

  * Find som

[2015-11-01 14:06] Neamar commented on #285
Ok, so I noticed this on one of my search too.

Comes from the fact that we're storing queries (for instance single-letter "d" when you enter D and click drive) and looking ahead for other queries (searching for "d*" on the history).

When you enter "d", you see Drive, and you'll often click on it, adding one item in history ("D => Drive").

But when you enter "dri", we're looking in history for q

[2015-11-02 21:57] licaon-kter commented on #201
Right now it's either scroll up to Z or scroll up to A.

Any chance of scroll **down** being implemented?

[2015-11-03 08:00] droserasprout commented on #264
#300

[2015-11-03 11:03] #298 closed

[2015-11-04 15:46] bisby opened #302 "Incoming Private Calls Display User"
When I receive a private call (incoming phone number = ""), the first user in my contacts that has no phone number is added to my history
This seems like it needs better handling for when incoming number is blank instead of matching blank to a random contact.
Also seems weird because no other incoming calls trigger being added to my history.

[2015-11-05 05:36] Neamar commented on #302
That's a bug indeed.

Regarding the second part of your question, you need contacts with phone number using international formatting (+1 for US, +35 for Ireland, +33 for France, etc.). Once you use internation number, you'll see incoming calls in your history

[2015-11-06 08:58] blaskovic commented on #207
This would be very usefull, especially for apps which provides widgets to access certain parts of them.
For example widget from Connectbot which connects you to desired host right after touch.

[2015-11-07 09:32] ilmich opened #303 "Supporting icons packs"
Hi,

unlike CyanogenMod and derivates, AOSP roms don't have theme support.
I think that it's nice to have icon theming on KISS Launcher.

I've take a look on ADW.Launcher source code to see how icon theming works and seems not difficult.
First problem is to detect installed icon sets, there are two ways

1) define a KISS intent that every icon pack developer must include into AndroidManifest.xml i

[2015-11-07 09:41] licaon-kter commented on #303
2) sounds good, given the KISS install base size by comparison.

[2015-11-08 22:51] licaon-kter commented on #224
This can be achieved 2 ways now, if you have root:
* if on CM there's Protected Apps
* use Xposed + MinMinHide

Although +1 vote from me for a KISS native option, since root is a rarer thing to have.

[2015-11-10 01:57] losingkeys opened #308 "Add CONTRIBUTING file"
Should contain info for developers wanting to contribute (best practices to follow, testing/formatting/project direction/whatever). More info: https://github.com/Neamar/KISS/pull/288#issuecomment-152031159.

Some good examples:
- [facebook/react](https://github.com/facebook/react/blob/master/CONTRIBUTING.md)
- [meteor/meteor](https://github.com/meteor/meteor/blob/devel/Contributing.md)
- [tpope/vi

[2015-11-10 09:23] mgoral commented on #207
Second page is nice and all, but I think it misses the point that some widgets (like agenda, email, etc) are supposed to be visible for users. For example I'd certainly forget about that second page after a day or two.

On the other hand I thought about adding a switch to settings (replacing current "minimalistic interface"). User could either display history, display a page with widgets or an emp

[2015-11-10 16:33] blaskovic commented on #207
Yeah sure, maybe the option to set the default one will be great, but still be able to switch to another view by sliding finger will be really useful.

Imho, if you just swipe to another page and leave it like that you can see widgets all the time. And if you want to launch last app (from history list), you can swipe back anytime.

[2015-11-13 03:19] MC42 opened #309 "HTML colors for custom themes?"
Could it be at possible for a "custom" theme to be added, where the user can enter the HTML colorcodes?

[2015-11-15 12:49] Neamar opened #313 "Some apps create "empty" shortcuts on install"
(cc @ilmich and #293)

After some investigation, it looks like the app which exhibits this behavior (Bankin', Dropbox) also come with a "custom widget" (in Google Now launcher, for instance, you can create a shortcut to open a folder directly).

Those applications have the intent-filter `<action android:name="android.intent.action.CREATE_SHORTCUT"/>` in their manifest for one of their activity (se

[2015-11-15 12:54] #302 closed

[2015-11-15 13:19] Neamar commented on #308
Hey @losingkeys! What do you think about #314?

[2015-11-15 13:20] Neamar commented on #275
Indeed, closing for now since there is no simple option to improve this.

[2015-11-15 13:20] #275 closed

[2015-11-15 13:21] Neamar commented on #273
TBH, no idea on how to fix this :\

[2015-11-15 13:21] #250 closed

[2015-11-15 13:21] Neamar commented on #264
That's better :) Closing the issue!

[2015-11-15 13:21] #264 closed

[2015-11-15 13:22] Neamar commented on #309
For the highlight color, probably. For other colors this would be much more trickier :\

What do you have in mind?

[2015-11-15 13:56] losingkeys commented on #308
Looks great, nice work!
On Nov 15, 2015 07:19, "Matthieu Bacconnier" <notifications@github.com>
wrote:

[2015-11-15 16:03] MC42 commented on #309
I was just thinking a blue of some sort.  Being able to change the highlight would be much easier, thanks.

[2015-11-16 10:42] nmitsou opened #316 "Search phone number suggestion"
how about showing the contacts that match with the current entered number on search?
e.g. i have entered 089 and i see all my contacts whose number start from 089

[2015-11-16 11:05] nmitsou opened #317 "adding shortcuts to data providers as favorites on kiss bar"
hi, at the moment, i dont use the favorite bar, i guess i dont find interesting.
but i would use shortcuts to the data providers if i could pin them there.
e.g. a button that would show all my contacts or list of all settings or toggles.

what do you think?

[2015-11-16 12:15] ismail-s opened #318 "Torch randomly switches on"
Ok, this is a sporadic issue, and so, like all sporadic issues, devs are gonna hate me for it ([zo'o](https://en.wiktionary.org/wiki/zo%27o)). That said...

Sometimes when I press the Home button on my phone to go to the launcher, and then start typing on my swiftkey neural keyboard, the torch randomly comes on. It just happened to me again in the last few minutes, hence me raising this now. Note

[2015-11-16 12:23] nmitsou commented on #318
was the torch tongle visible on your history list?
do you remember if you scrolled or just typed?

i had the same issue in the past while scrolling

[2015-11-16 12:30] ismail-s commented on #318
The incident I just had, I just started typing.

[2015-11-16 12:33] ismail-s commented on #318
The only explanantion that comes to mind is that, if the keyboard took a moment to appear, then I could have tapped on the torch icon. Trouble is, I don't recall the keyboard taking long to appear, or the torch icon being near the bottom of the list at the time.

[2015-11-16 13:18] nmitsou commented on #318
i checked again. in my case, scrolling in the history when torch toggle is there can potentially activate the torch. it seems that it can only go on not off.

it might be the same bug as the one you mention with typing.

[2015-11-16 13:18] ilmich commented on #318
+1 for me.
This issue also appear with other toggles (wifi for example).
I don't think that is a scrolling/keyboard issue because other type of elements in the history works properly.

I'll try to investigate but this issue for me is very rare.

[2015-11-16 19:37] saveman71 commented on #308
#314 is now merged to master, can I close the issue?

[2015-11-16 21:44] nmitsou commented on #318
It seems that the onCheckedChanged is fired by itself - programmatically.

Is it possible that this line :
toggleButton.setChecked(togglesHandler.getState(togglePojo));
in display at ToggleResult fires the event?

I set toggleButton.setOnCheckedChangeListener(null) right before this line and the problem seems to disappear, although it is hard to say for sure.

[2015-11-16 23:32] #308 closed

[2015-11-17 09:05] Neamar commented on #318
@nmitsou that's an interesting theory, but then shouldn't it fail every time instead of once in a while?

Or maybe this happen when recycling an older Toggle view with a different state, although that would not be easy to debug. (but at least it would explain while it rarely happens)

[2015-11-17 15:00] ilmich commented on #313
@Neamar, can you please try to install directly apk instead using playstore or anything else?!
You can use tool like this

https://f-droid.org/repository/browse/?fdfilter=apk&fdid=axp.tool.apkextractor

to extract apk of an installed apps.
I suspect that shortcuts are created from playstore app.
This is because during my test this issue with Bankin app doesn't appear (I haven't google apps on my d

[2015-11-17 23:28] nmitsou commented on #318
Yes, this must be the issue.
It happens always with scrolling when history contains two toggles, one on top (not visible) and another on bottom. In the end, both toggles have the same state.
Seting the listener to null before  setChecked should work

[2015-11-17 23:57] JossMarley commented on #317
nmitsou what do you think about #239?

[2015-11-18 05:24] volnes commented on #212
its possible to make graphical cleanup for "no icons mode"?
![what to delete](https://cloud.githubusercontent.com/assets/5400851/11233348/85a86084-8db4-11e5-8989-e949c211c171.PNG)

and make view just like this?
![remastered](https://cloud.githubusercontent.com/assets/5400851/11233350/9a2e5cd4-8db4-11e5-9024-6f71568e93de.PNG)

@nmitsou @Neamar

[2015-11-18 08:01] nmitsou commented on #317
to be honest, i always search to find my apps or contacts.
but i understand the need for customization of the main screen and/or the favorites.
i like the idea of swiping between different screens (history, favorites, apps, contacts, toggles, calendar events).
But that would mean many changes on the gui and i dont know if anyone else would like that.

[2015-11-18 08:32] licaon-kter commented on #212
Aligned to the left maybe?

[2015-11-18 08:56] volnes commented on #212
@licaon-kter middle or left, no difference.
I think the big problem is the icon of kiss on the left,  It does't looks good.
And funny when u choose "no icons mode" but icon still here
![no icons](https://cloud.githubusercontent.com/assets/5400851/11236515/3266b0c4-8dd2-11e5-822b-ae93ef6c5209.PNG)

[2015-11-18 12:37] nmitsou commented on #212
@Neamar, is the a use case that this icon is useful?

[2015-11-18 13:56] losingkeys commented on #308
@Neamar: in the future you can close issues with commits. More info:
https://github.com/blog/1386-closing-issues-via-commit-messages
On Nov 16, 2015 17:32, "Matthieu Bacconnier" <notifications@github.com>
wrote:

[2015-11-19 08:34] Neamar commented on #212
TBH i don't think so. It would just look funny with the other results if
the image was gone, but maybe simply using View.INVISIBLE would be better
since it would keep the margin.

On Wed, Nov 18, 2015 at 1:37 PM nmitsou <notifications@github.com> wrote:

[2015-11-19 10:17] Neamar commented on #313
Good point!

Installing from "raw" APK did not create any shortcut.
It seems you were right, and it's a Play Store behavior.
I'll test on another device.

(but installing https://play.google.com/store/apps/details?id=com.estrongs.android.pop did create a shortcut though :p)

[2015-11-19 10:20] Neamar commented on #313
OK.... testing on another device did not create the shorcut. I'm kinda lost here :p

@saveman71 can you try on your device too please? Check you are on KISS v2.13.1, then install https://play.google.com/store/apps/details?id=com.estrongs.android.pop and enter "es file" in your KISS search bar, do you see ES twice? Thanks!

[2015-11-19 10:30] ilmich commented on #313
HI @Neamar, I need only a test case for the issue ;)
I think that anyway is a problem of the filter. Maybe is better to filter by package and/or pojo id instead app name because pojo app name can be different respect shortcut intent name.

[2015-11-19 10:44] saveman71 commented on #313
I can't reproduce!
![](https://dl2.pushbulletusercontent.com/SNg2bcvYJhMo3EHhl6XccWo6vCQeK2lw/Screenshot_2015-11-19-11-32-43.png)

[2015-11-19 11:03] Neamar commented on #313
Ok, probably a bug from my phone somewhere. Or a feature I don't even know about ><

Closing.

[2015-11-19 11:04] #313 closed

[2015-11-19 12:22] Neamar opened #321 "Testing GH issue"
Test. Test.

[2015-11-19 12:25] Neamar commented on #318
was the torch tongle visible on your history list?
do you remember if you scrolled or just typed?

i had the same issue in the past while scrolling

[2015-11-19 12:25] Neamar commented on #318
The incident I just had, I just started typing. Yes, it would have been in my history.

[2015-11-19 12:25] Neamar commented on #318
i checked again. in my case, scrolling in the history when torch toggle is there can potentially activate the torch. it seems that it can only go on not off.

it might be the same bug as the one you mention with typing.

[2015-11-19 12:25] Neamar commented on #318
The only explanantion that comes to mind is that, if the keyboard took a moment to appear, then I could have tapped on the torch icon. Trouble is, I don't recall the keyboard taking long to appear, or the torch icon being near the bottom of the list at the time.

[2015-11-19 12:25] Neamar commented on #318
+1 for me.
This issue also appear with other toggles (wifi for example).
I don't think that is a scrolling/keyboard issue because other type of elements in the history works properly.

I'll try to investigate but this issue for me is very rare.

[2015-11-19 12:25] Neamar commented on #318
It seems that the onCheckedChanged is fired by itself - programmatically.

Is it possible that this line :

[code]

in display at `ToggleResult` fires the event?

I set toggleButton.setOnCheckedChangeListener(null) right before this line and the problem seems to disappear, although it is hard to say for sure.

[2015-11-19 12:25] Neamar commented on #318
@nmitsou that's an interesting theory, but then shouldn't it fail every time instead of once in a while?

Or maybe this happen when recycling an older Toggle view with a different state, although that would not be easy to debug. (but at least it would explain while it rarely happens)

[2015-11-19 12:25] Neamar commented on #318
Yes, this must be the issue.
It happens always with scrolling when history contains two toggles, one on top (not visible) and another on bottom. In the end, both toggles have the same state.
Seting the listener to null before  setChecked works (in my case)

[2015-11-19 12:25] Neamar commented on #317
nmitsou what do you think about #239?

[2015-11-19 12:25] Neamar commented on #317
to be honest, i always search to find my apps or contacts.
but i understand the need for customization of the main screen and/or the favorites.
i like the idea of swiping between different screens (history, favorites, apps, contacts, toggles, calendar events).
But that would mean many changes on the gui and i dont know if anyone else would like that.

[2015-11-19 12:26] Neamar commented on #295
Closing this one since #269 will probably fix.

[2015-11-19 12:27] Neamar commented on #309
For the highlight color, probably. For other colors this would be much more trickier :\

What do you have in mind?

[2015-11-19 12:27] Neamar commented on #303
2) sounds good, given the KISS install base size by comparison.

[2015-11-19 12:28] Neamar commented on #309
I was just thinking a blue of some sort.  Being able to change the highlight would be much easier, thanks.

What if you were to use this?  http://stackoverflow.com/questions/14208367/how-to-change-image-color-dynamically-in-android

[2015-11-19 12:28] Neamar commented on #299
What do you mean by "disable"?

[2015-11-19 12:28] Neamar commented on #299
He's probably talking about https://github.com/Neamar/KISS/issues/190 ?

[2015-11-19 12:28] Neamar commented on #299
https://github.com/Neamar/KISS/issues/190 doesn't look like it, though I'm bot faimilar with "hibernating" Android apps, so maybe? On non-rooted devices there are sometimes apps you can't uninstall... but cab disable. See the screenshot below. I think they don't run after being disabled, but still take up space. Anyway trying to launch one fails with the "Whoops..." toast message. They don't show

[2015-11-19 12:28] Neamar commented on #295
Could you determine the version number of the last version that wasn't "slow" for you?
(The [version archive on F-Droid](https://f-droid.org/repository/browse/?fdid=fr.neamar.kiss) might be helpful for this.)

[2015-11-19 12:28] Neamar commented on #299
Oh, I just read the source of https://github.com/Neamar/KISS/issues/190 and realized that the *Hiberate* button in KISS calls `am force-stop …` instead of `pm disable …`. In other words: Selecting *Hiberate* from the application's menu (while in root mode) will do the same thing as opening its *App-Info* and pressing the *Force Stop* button. (I was a bit misinformed, sorry!)

However I think I und

[2015-11-19 12:28] Neamar commented on #295
2.10.1 from Fdroid

I have it running on multiple devices ranging from android 4.2 to 4.4. I feel like this issue is consistent. However KISS sometimes acts faster than the other times.  There are times when I just wait like 8 secs until the list shows up sometimes no wait. Same app list same device.

[2015-11-19 12:28] Neamar commented on #295
2.10.1 is the first version that sucks or the last version that works correctly?

Assuming the former (that 2.10.* is the first broken version): There were unfortunately no major changes between v2.10.1 and v2.9.4 that are very likely to be the cause of this behaviour.

Are you willing to help debug this issue? Are you able to compile KISS from source?
If not: Would you be willing to install some

[2015-11-19 12:28] Neamar commented on #295
2.10.1 feels slower when it comes to listing apps.

I can try helping out with debugging. I cant compile android stuff but I can help with logs etc

[2015-11-19 12:28] Neamar commented on #295
Hi @gerroon, v2.10.1 is the latest version. Do you remember the last stable version you had?

Thanks!

[2015-11-19 12:28] Neamar commented on #295
Hi

I think that the first version that I installed seemed more responsive, probably it was the first version on Fdroid.

[2015-11-19 12:28] Neamar commented on #295
@gerroon So v2.9.4 is the last version that worked well??
Please say yes or no, since I'm still not sure based on responses ;-)

[2015-11-19 12:28] Neamar commented on #295
So you where using some very old version for ages then someday decided to update and were like "OMG this is slow". Did I understand you correctly?

Device type should not matter as long as the devices run Android 2.3.3+ (or something compatible).

[2015-11-19 12:28] Neamar commented on #295
Sorry I can't be more precise because I was not tracking version numbers.

Version 2.9.3 - Added on 2015-09-18 seems like the first version that was available. So it was either 2.9.3 or 2.9.4

Also none of my devices are phones. I use tablets and eink android devices. I do not use google search, contacts etc on them and I enable root mode.

[2015-11-19 12:28] Neamar commented on #295
OK: So you installed *KISS* `2.9.3` from F-Droid and decided to use it. Some time later (a few days ago) you updated to the latest version (`2.10.1`) and found that it's slower than `2.9.3`. Then you reported this bug. Correct?

Assuming that we're finally on the same page:
Could you test the `2.9.4` version of *KISS* (installable directly from the F-Droid app, just scroll down on the application

[2015-11-19 12:28] Neamar commented on #295
Yes we are on the same page.

I will test it and let you know.

[2015-11-19 12:28] Neamar commented on #295
no ;)

I use whatever Fdroid presents. First version was available on 2015-09-18 on Fdroid, so that is the one I used.

The Fdroid had an update later therefor I updated to the latest version.

[2015-11-19 12:28] Neamar commented on #295
Good! Keep us in the loop :)

Just one last point... you say you don't use "contacts": does this means you're only searching in apps?

[2015-11-19 12:28] Neamar commented on #295
Yes I only use it to search apps and I also enable root mode.

[2015-11-19 12:28] Neamar commented on #295
@Neamar

The issue is like this, I just want to articulate once more hopefully much more clear this time.

On all off my devices KISS acts sporadically when it comes to listing the previously used apps history when I drop to KISS screen (like pressing home button or using as search provider). Sometimes the app list shows up right away sometimes I wait  like 8 secs. And this performance issue is vi

[2015-11-19 12:28] Neamar commented on #295
Ok. Root mode should not change anything, since it only triggers when displaying the popup menu.

Slow search in apps, however, is something I haven't heard of as of yet. Please let us know if you manage to test previous version!

[2015-11-19 12:28] Neamar commented on #295
Oh, so you mean the loading time while kiss is indexing? With a spinner instead of the green kiss icon? It can be fixed by implementing https://github.com/Neamar/KISS/issues/269 maybe...
Are your devices generally low on memory?

[2015-11-19 12:28] Neamar commented on #295
@saveman71
Yeah that sounds more like what I am experiencing on my devices.

My devices vary, I have a high end devices that has the same issue(still faster than the other ones), and I have somewhat lower resource eink device which suffers worst sometimes.

If I use it frequently, I do not experience as much. It seems like I get that lag when I have not used it more than couple hours.

[2015-11-19 12:28] Neamar commented on #295
I guess addressing https://github.com/Neamar/KISS/issues/269 is an unavoidable now. (No more excuses! (-: ) I'll look into it and provide some test version once ready.

[2015-11-19 12:28] Neamar commented on #295
@gerroon So that's the problem. This the way it is since the beginning if I remember correctly. But I don't have this problem having it as the default launcher on my Nexus 4, except after a reboot which seems "normal".

Then, I am no Android developer, so I'll leave @Neamar and @alexander255 the task of finding an appropriate solution ;)

[2015-11-19 12:28] Neamar commented on #285
Ok, so I noticed this on one of my search too.

Comes from the fact that we're storing queries (for instance single-letter "d" when you enter D and click drive) and looking ahead for other queries (searching for "d*" on the history).

When you enter "d", you see Drive, and you'll often click on it, adding one item in history ("D => Drive").

But when you enter "dri", we're looking in history for q

[2015-11-19 12:28] Neamar commented on #295
Yes, https://github.com/Neamar/KISS/issues/269 would be really good :)

[2015-11-19 12:28] Neamar commented on #252
The taskbar was green at version 2.6.5, its been changed when I updated to 2.7.x..

[2015-11-19 12:28] Neamar commented on #273
TBH, no idea on how to fix this :\

[2015-11-19 12:28] Neamar commented on #246
I can confirm the first scroll up is always a little laggy on my Nexus 4 and agree that that seems weird for a 25 item list.

[2015-11-19 12:28] Neamar commented on #249
Yep. On a previous version, I applied a tinting depending on the theme. However, this led to some really uglyicons for "Settings: Application" so I reverted this. And I have no good idea on how to fix this without increasing the apk size ;)

[2015-11-19 12:28] Neamar commented on #246
+1

[2015-11-19 12:28] Neamar commented on #249
(same problem for airplane, connectivity and battery icons)

![setting_airplane](https://cloud.githubusercontent.com/assets/536844/10117789/be08490a-6463-11e5-8364-51afd884a417.png)
![setting_battery](https://cloud.githubusercontent.com/assets/536844/10117787/be04bd62-6463-11e5-8577-df0a475b2e7c.png)
![toggle_wifi](https://cloud.githubusercontent.com/assets/536844/10117788/be06eaf6-6463-11e5-9162-

[2015-11-19 12:28] Neamar commented on #245
They are so many entries within the device settings, don't you think it would actually clutter the search results?
Also, it would be needed to programmatically find all the settings entries on all android versions (the search menu only appeared after Android 5.0 if I'm not mistaken) and I don't know if it's possible. (/cc @Neamar @Pluggi).

[2015-11-19 12:28] Neamar commented on #246
This issue can be resolved implementing #239.

[2015-11-19 12:28] Neamar commented on #245
There's a list, yes, see the constants on http://developer.android.com/reference/android/provider/Settings.html

The question is more: are they all useful? Not sure about this ;)

[2015-11-19 12:29] Neamar commented on #212
Hi,

Thanks for the suggestion!

Before implementing this, have you experienced slowness on KISS? Can you provide the name of your device?

[2015-11-19 12:29] Neamar commented on #213
Menu dots in the action bar are hidden by default,

However it's a custom 3-dots here, and therefore a physcial button will not affect its behavior :(

[2015-11-19 12:29] Neamar commented on #212
Yes, when i scroll list of all apps launcher laggin when loading icons
Device Xperia Neo V

[2015-11-19 12:29] Neamar commented on #212
@Neamar Any news about "no icons mode" feature?

[2015-11-19 12:29] Neamar commented on #212
No news, i'll add a label for this :)

[2015-11-19 12:29] Neamar commented on #212
+1

I guess I have this too, when scrolling the apps list the text goes faster than the icons and it ends up right near previous icons, after a moment the good icons catchup.

Sony Xperia Sola CM12.1

[2015-11-19 12:29] Neamar commented on #212
Just a question: in AppResult.java, the icon is extracted on every getDrawable call.
Shouldn't this happen only once, on constructor?

Edit: I have a working solution but i am not sure regarding the above
Edit 2: I changed AppResult to load the icon only once and it seems that scrolling is smoother.

[2015-11-19 12:29] Neamar commented on #212
Aligned to the left maybe?

[2015-11-19 12:29] Neamar commented on #212
its possible to make graphical cleanup for "no icons mode"?
![what to delete](https://cloud.githubusercontent.com/assets/5400851/11233348/85a86084-8db4-11e5-8989-e949c211c171.PNG)

and make "no icons mode" like this?
![remastered](https://cloud.githubusercontent.com/assets/5400851/11233350/9a2e5cd4-8db4-11e5-9024-6f71568e93de.PNG)

@nmitsou @Neamar

[2015-11-19 12:29] Neamar commented on #212
@licaon-kter middle or left, no difference.
I think the big problem is the icon of KISS Launcher on the left,  It does't looks good.
And funny when u choose "no icons mode" but icon still here
![no icons](https://cloud.githubusercontent.com/assets/5400851/11236515/3266b0c4-8dd2-11e5-822b-ae93ef6c5209.PNG)

[2015-11-19 12:29] Neamar commented on #201
Nice idea. I like it ;)

(if anyone has time for this?)

[2015-11-19 12:29] Neamar commented on #212
@Neamar, is the a use case that this icon is useful?

[2015-11-19 12:29] Neamar commented on #212
TBH i don't think so. It would just look funny with the other results if
the image was gone, but maybe simply using View.INVISIBLE would be better
since it would keep the margin.

On Wed, Nov 18, 2015 at 1:37 PM nmitsou <notifications@github.com> wrote:

[2015-11-19 12:29] Neamar commented on #201
Fixed?

[2015-11-19 12:29] Neamar commented on #201
Right now it's either scroll up to Z or scroll up to A.

Any chance of scroll **down** being implemented?

[2015-11-19 12:29] Neamar commented on #200
I do agree.

[2015-11-19 12:29] Neamar commented on #201
Yes, fixed, will be part of next release :)

[2015-11-19 12:29] Neamar commented on #200
I agree with @aeuii on this. It should be the same dialog style as the dialog when you tap on the KISS menu to go to the settings.

:+1:

[2015-11-19 12:29] Neamar commented on #200
Yes , i am, too